// Copyright (c) 2005 MacKichan Software, Inc.  All Rights Reserved.

#include "winver.h"

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       5,50,0,2890
  PRODUCTVERSION    5,50,0,2890
  FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS         VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
#else
  FILEFLAGS         0 // final version
#endif
  FILEOS            VOS__WINDOWS32
  FILETYPE          VFT_APP
  FILESUBTYPE       0   // not used
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
		BEGIN 
			VALUE "CompanyName",     "MacKichan Software, Inc."
			VALUE "FileDescription", "texin Application\0"
			VALUE "ProductName",     "texin Application\0"
			VALUE "Copyright",  "MacKichan Software, Inc. 2005\0"
			VALUE "LegalCopyright",  "Copyright \251 2005\0"
			VALUE "OriginalFilename","pretex.exe\0"
			VALUE "InternalName",    "preTeX AKA Jon's Filter Program\0"
			VALUE "FileVersion",     "5.50.0.2890\0" 
      VALUE "Trademarks",      "Scientific Word (R)     Scientific WorkPlace (R)\0"
			VALUE "ProductVersion",  "5.50.0.2890\0" 
		END
	END
	BLOCK "VarFileInfo" 
	BEGIN 
		VALUE "Translation", 0x409, 1252
			// English language (0x409) and the Windows ANSI codepage (1252)
	END
END

