msibutton {
  margin: 3px;
  padding: 0;
  border: 0;
}
msibutton label {
  padding: 0 4px;
}

msibutton[disabled="true"]
{
  color: rgb(180,180,180);
}

msibutton [class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right.png);
}

toolbox[iconsize="small"] msibutton [class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right-sm.png);
}

msibutton:hover [class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right-hover.png);
}

msibutton:focus [class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right-hover.png);
}

toolbox[iconsize="small"] msibutton:hover 	[class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right-hover-sm.png);
}

toolbox[iconsize="small"] msibutton:focus 	[class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right-hover-sm.png);
}

msibutton[checked] [class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right.png);
}

toolbox[iconsize="small"] msibutton[checked]	[class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right-sm.png);
}

msibutton:active [class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right-active.png);
}

toolbox[iconsize="small"] msibutton:active	[class="msibutton-right"]{
  list-style-image: url(chrome://prince/skin/icons/slice-right-active-sm.png);
}

/*--------------*/

msibutton [class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left.png);
}

toolbox[iconsize="small"] msibutton [class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left-sm.png);
}

msibutton:hover [class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left-hover.png);
}

toolbox[iconsize="small"] msibutton:hover 	[class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left-hover-sm.png);
}

msibutton:focus [class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left-hover.png);
}

toolbox[iconsize="small"] msibutton:focus 	[class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left-hover-sm.png);
}

msibutton[checked] [class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left.png);
}

toolbox[iconsize="small"] msibutton[checked]	[class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left-sm.png);
}

msibutton:active [class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left-active.png);
}

toolbox[iconsize="small"] msibutton:active	[class="msibutton-left"]{
  list-style-image: url(chrome://prince/skin/icons/slice-left-active-sm.png);
}

/*-----------------------------------------*/
msibutton [class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle.png);
}

toolbox[iconsize="small"] msibutton [class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle-sm.png);
}

msibutton:hover [class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle-hover.png);
}

toolbox[iconsize="small"] msibutton:hover 	[class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle-hover-sm.png);
}

msibutton:focus [class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle-hover.png);
}

toolbox[iconsize="small"] msibutton:focus 	[class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle-hover-sm.png);
}

msibutton[checked] [class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle.png);
}

toolbox[iconsize="small"] msibutton[checked]	[class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle-sm.png);
}

msibutton:active [class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle-active.png);
}

toolbox[iconsize="small"] msibutton:active	[class="msibutton-mid"]{
  background-image: url(chrome://prince/skin/icons/slice-middle-active-sm.png);
}

*[class="msibutton-mid"] {
  font: menu;
  background-repeat: repeat-x;
}

/*--------------------------*/
msibutton [class="msibutton-strut"]{
  list-style-image: url(chrome://prince/skin/icons/slice-middle.png);
}

toolbox[iconsize="small"] msibutton [class="msibutton-strut"]{
  list-style-image: url(chrome://prince/skin/icons/slice-middle-sm.png);
}

msibutton:hover [class="msibutton-strut"]{
  list-style-image: url(chrome://prince/skin/icons/slice-middle-hover.png);
}

toolbox[iconsize="small"] msibutton:hover 	[class="msibutton-strut"]{
  list-style-image: url(chrome://prince/skin/icons/slice-middle-hover-sm.png);
}

msibutton:focus [class="msibutton-strut"]{
  list-style-image: url(chrome://prince/skin/icons/slice-middle-hover.png);
}

toolbox[iconsize="small"] msibutton:focus 	[class="msibutton-strut"]{
  list-style-image: url(chrome://prince/skin/icons/slice-middle-hover-sm.png);
}

msibutton[checked] [class="msibutton-strut"]{
  list-style-image: url(chrome://prince/skin/icons/slice-middle.png);
}

toolbox[iconsize="small"] msibutton[checked]	[class="msibutton-strut"]{
  list-style-image: url(chrome://prince/skin/icons/slice-middle-sm.png);
}

msibutton[checked] {
  color: red;
}

msibutton.charbtn {
  font-size: 150%;
  padding-top: 6px;
  margin: 0px;
  min-height: 1em;
  position: relative;
}

