part {
  display: block;
  counter-increment: part;
}

part sectiontitle {
  display: block;
  font-size: x-large;
  font-weight: bold;
}

part>sectiontitle:before {
  content: "Part " counter(part,upper-roman);
  display: block;
  font-size: large;
  font-weight: bold;
}

chapter {
  display: block;
/*  counter-increment: chapter;
  counter-reset: subchapter;
  counter-reset: theorem; */
}

chapter sectiontitle {
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: 14pt;
  font-weight: bold;
}

section {
  display: block;
/*    counter-increment: section;
  counter-reset: subsection;
  counter-reset: theorem; */
}

section sectiontitle {
  display: block;
  margin: 0;
  margin-left: 0;
  font-size: large;
  font-weight: bold;
}

/*
section>sectiontitle:before {
  content: counter(section) ".  ";
}
*/

subsection{
  display: block;
/*    counter-increment: subsection;
    counter-reset: subsubsection; */
}

subsection sectiontitle {
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: large;
}

/*
subsection>sectiontitle:before {
  content: counter(section) "." counter(subsection) ".  ";
}
*/

subsubsection {
  display:block;
/*    counter-increment: subsubsection;
    counter-reset: paragraph; */
}

subsubsection sectiontitle {
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: medium;
  font-weight: bold;
}

/*
subsubsection>sectiontitle:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) ".  ";
}
*/

paragraph {
  display:block;
/*    counter-increment: paragraph;  */
}

paragraph sectiontitle {
  font-size: medium;
  font-weight: normal;
  font-style: italic;
}

/*
paragraph>sectiontitle:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) ".  ";
}
*/

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: rgb(0,128,64);
}

title {
  font-size: x-large;
  display: block;
  margin-top: 12pt;
  text-align: center;
}

title > short {
   display: inline;
   padding: 0 0 0 20pt;}

author {
  text-align: center;
  font-weight: normal;
  display: block;
  padding-top: 10pt;
}

authorid {
  display: none;
}

body[showshort='true'] authorid {
  display: inline;
  color: green;
}

body[showshort='true'] authorid:before {
  content: '[';
  display: inline;
  color: green;
}

body[showshort='true'] authorid:after {
  content: '] ';
  display: inline;
  color: green;
}

address {
  display: block;
}

curraddr {
  text-align: center;
  display: block;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-curraddr");
  -moz-user-select: text;
}

email {
  text-align: center;
  font-weight: normal;
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-email");
  -moz-user-select: text;
}

urladdr {
  text-align: center;
  font-weight: normal;
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-urladdr");
  -moz-user-select: text;
}

thanks {
  text-align: center;
  font-weight: normal;
  display: block;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-thanks");
  -moz-user-select: text;
}

date {
  text-align: center;
  font-weight: normal;
  display: block;
  padding-top: 2pt;
}

translator {
  text-align: center;
  font-weight: normal;
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-translator");
  -moz-user-select: text;
}

subjclass {
  text-align: center;
  font-weight: normal;
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-subjclass");
  -moz-user-select: text;
}

subjclassyear {
  display: none;
}

body[showshort='true'] subjclassyear {
  display: inline;
  color: green;
}

body[showshort='true'] subjclassyear:before {
  content: '[';
  display: inline;
  color: green;
}

body[showshort='true'] subjclassyear:after {
  content: '] ';
  display: inline;
  color: green;
}

keywords {
  text-align: center;
  font-weight: normal;
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-keywords");
  -moz-user-select: text;
}

dedicatory {
  text-align: center;
  font-weight: normal;
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-dedicatory");
  -moz-user-select: text;
}

abstract {
  text-align: center;
  display: block;
  margin-bottom: .5in;
}

/* Not in article.css (gp)
pre, verbatim {
  font-family: Courier; white-space: pre
}
*/

/* Not in article.css (gp)
item {
  margin: 0 0 0 0;
  padding: 10pt 0 0 20pt;
  display: list-item
}
*/

/* Not in article.css (gp)
item:before {
  content: counters(item, ".") ":  ";
  counter-increment: item;
}
*/

/* Not in article.css (gp)
enumerate {
  counter-reset: item;
}
*/

/* Not in article.css (gp)
description {
  counter-reset: item;
}
*/

/* Not in article.css (gp)
itemize {
  list-style: disc;
  counter-reset: item;
}
*/

/* Not in article.css (gp)
img {
  display: inline;
  margin: 2em
}
*/

shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

emphasized {
  font-style: italic;
  color: rgb(9,62,125)
}

emphasized .inlineMath {
  color: rgb(255,0,255)
}

roman {
  font-family: Times New Roman;
  color: rgb(0,0,255)
}

calligraphic {
  font-family: monotype corsiva;
  color: rgb(0,0,255)
}

bold {
  font-weight: 700
}

italics {
  font-style: italic
}

slanted {
  font-style: italic;
  font-weight: 700;
  color: rgb(9,62,125)
}

sansSerif {
  font-family: Arial;
  font-weight: 400;
  color: rgb(9,62,125)
}

smallCaps {
  font-variant: small-caps;
  color: rgb(0,0,0)
}

typewriter {
  font-family: Courier New;
  font-weight: 700
}

tiny {
  font-size: 50%
}

scriptsize {
  font-size: 67%
}

footnotesize {
  font-size: 75%
}

small {
  font-size: 83%
}

normalsize {
  font-size: 100%
}

large {
  font-size: 117%
}

Large {
  font-size: 133%
}

LARGE {
  font-size: 150%
}

huge {
  font-size: 167%
}

Huge {
  font-size: 183%
}

/*
theorem {
  display: block;
  font-style: italic;
  counter-increment: theorem;
}

theorem:before {
  content:  attr(type) " " counter(section) "."  counter(theorem) ". " ;
} */

/* Not in article.css (gp)
tabular {
  display: table
}

tr {
  display: table-row
}

td {
  display: table-cell
}
*/

section defaulttitletag:after {
  content: "Replace this section title";
  color: red;
}

subsection defaulttitletag:after {
  content: "Replace this subsection title";
  color: red;
}

subsubsection defaulttitletag:after {
  content: "Replace this subsubsection title";
  color: red;
}

paragraph defaulttitletag:after {
  content: "Replace this subsubsubsection title";
  color: red;
}

subparagraph defaulttitletag:after {
  content: "Replace this subsubsubsubsection title";
  color: red;
}

