/* amsbook.css */
part, chapter, section, subsection, subsubsection, paragraph, subparagraph {
  -moz-user-select: text;
}

part {
  display: block;
  text-align: center;
  counter-increment: part;
  counter-reset: chapter;
}
part > sectiontitle, part > bodyText:first-child {
  display: block;
  font: bold large;
  color: #093e7d;
  text-align: center;
}
part > sectiontitle:before, part > bodyText:first-child:before {
  content: "Part  " counter(part, upper-roman) "" "";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  text-align: center;
}

chapter {
  display: block;
  counter-increment: chapter;
  counter-reset: section eqnnumber subeqnnum;
  position: relative;
  top: 0;
  left: 0;
}
chapter [nonum=true] > sectiontitle:before, chapter [nonum=true] > bodyText:first-child:before {
  content: "";
}
chapter[open=false] > sectiontitle, chapter[open=false] > bodyText:first-child {
  color: gray;
}
chapter > defaulttitletag:after {
  content: "Replace this CHAPTER title";
  color: red;
}
chapter > sectiontitle, chapter > bodyText:first-child {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  color: #093e7d;
}
chapter > sectiontitle:before, chapter > bodyText:first-child:before {
  content: counter(chapter) ".  " ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  display: block;
}

section {
  display: block;
  counter-increment: section;
  counter-reset: subsection;
  position: relative;
  top: 0;
  left: 0;
}
section [nonum=true] > sectiontitle:before, section [nonum=true] > bodyText:first-child:before {
  content: "";
}
section[open=false] > sectiontitle, section[open=false] > bodyText:first-child {
  color: gray;
}
section > defaulttitletag:after {
  content: "Replace this Section title";
  color: red;
}
section > sectiontitle, section > bodyText:first-child {
  display: block;
  margin: 0 0 0 0;
  font: bold large;
  color: #093e7d;
}
section > sectiontitle:before, section > bodyText:first-child:before {
  content: counter(section) ".  " ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

subsection {
  display: block;
  counter-increment: subsection;
  counter-reset: subsubsection;
  position: relative;
  top: 0;
  left: 0;
}
subsection [nonum=true] > sectiontitle:before, subsection [nonum=true] > bodyText:first-child:before {
  content: "";
}
subsection[open=false] > sectiontitle, subsection[open=false] > bodyText:first-child {
  color: blue;
}
subsection > defaulttitletag:after {
  content: "Replace this Subsection title";
  color: red;
}
subsection > sectiontitle, subsection > bodyText:first-child {
  display: block;
  margin: 10pt 10pt 0 0;
  font: bold medium;
  color: #093e7d;
}
subsection > sectiontitle:before, subsection > bodyText:first-child:before {
  content: counter(section) "." counter(subsection) ".  " ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  display: inline-block;
  width: 1.5cm;
}

subsubsection {
  display: block;
  counter-increment: subsubsection;
  counter-reset: paragraph;
}
subsubsection [nonum=true] > sectiontitle:before, subsubsection [nonum=true] > bodyText:first-child:before {
  content: "";
}
subsubsection > defaulttitletag:after {
  content: "Replace this Subsubsection title";
  color: red;
}
subsubsection > sectiontitle, subsubsection > bodyText:first-child {
  display: inline;
  margin: 10pt 10pt 0 0;
  font: bold medium;
  color: #093e7d;
}
subsubsection > sectiontitle:before, subsubsection > bodyText:first-child:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) ".  " ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

paragraph {
  display: block;
  counter-increment: paragraph;
  counter-reset: subparagraph;
}
paragraph [nonum=true] > sectiontitle:before, paragraph [nonum=true] > bodyText:first-child:before {
  content: "";
}
paragraph > defaulttitletag:after {
  content: "Replace this  title";
  color: red;
}
paragraph > sectiontitle, paragraph > bodyText:first-child {
  margin: 0 0 0 0;
  font-size: medium;
  font-weight: normal;
  font-style: italic;
  color: #093e7d;
}
paragraph > sectiontitle:before, paragraph > bodyText:first-child:before {
  content: "§ " ".  " ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  width: 1.5cm;
}

subparagraph {
  display: block;
  margin-left: 0pt;
  text-align: left;
  counter-increment: subparagraph;
}

/*************************/
/* Front matter elements */
/*************************/
title {
  font-size: x-large;
  display: block;
  color: #093e7d;
  margin-top: 12pt;
  text-align: center;
}

title > short {
  display: inline;
  padding: 0 0 0 20pt;
  color: #E1EEFD;
}

body[showshort=true] shortTitle {
  display: inline;
  color: #80b5f7;
}

body[showshort=true] shortTitle:before {
  content: "[";
  display: inline;
  color: #80b5f7;
}

body[showshort=true] shortTitle:after {
  content: "] ";
  display: inline;
  color: #80b5f7;
}

author {
  text-align: center;
  font-weight: normal;
  color: #093e7d;
  display: block;
  padding-top: 10pt;
}

authorid {
  display: none;
}

body[showshort=true] authorid {
  display: inline;
  color: #80b5f7;
}

body[showshort=true] authorid:before {
  content: "[";
  display: inline;
  color: #80b5f7;
}

body[showshort=true] authorid:after {
  content: "] ";
  display: inline;
  color: #80b5f7;
}

address {
  display: block;
  color: #093e7d;
}

curraddr {
  text-align: center;
  display: block;
  color: #093e7d;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-curraddr");
  -moz-user-select: text;
}

email {
  text-align: center;
  font-weight: normal;
  display: block;
  color: #093e7d;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-email");
  -moz-user-select: text;
}

urladdr {
  text-align: center;
  font-weight: normal;
  display: block;
  color: #093e7d;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-urladdr");
  -moz-user-select: text;
}

thanks {
  text-align: center;
  font-weight: normal;
  display: block;
  color: #093e7d;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-thanks");
  -moz-user-select: text;
}

date {
  text-align: center;
  font-weight: normal;
  display: block;
  color: #093e7d;
  padding-top: 2pt;
}

translator {
  text-align: center;
  font-weight: normal;
  display: block;
  color: #093e7d;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-translator");
  -moz-user-select: text;
}

subjclass {
  text-align: center;
  font-weight: normal;
  color: #093e7d;
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-subjclass");
  -moz-user-select: text;
}

subjclassyear {
  display: none;
}

body[showshort=true] subjclassyear {
  display: inline;
  color: #80b5f7;
}

body[showshort=true] subjclassyear:before {
  content: "[";
  display: inline;
  color: #80b5f7;
}

body[showshort=true] subjclassyear:after {
  content: "] ";
  display: inline;
  color: #80b5f7;
}

keywords {
  text-align: center;
  font-weight: normal;
  display: block;
  color: #093e7d;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-keywords");
  -moz-user-select: text;
}

dedicatory {
  text-align: center;
  font-weight: normal;
  display: block;
  color: #093e7d;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-dedicatory");
  -moz-user-select: text;
}

abstract {
  display: block;
  margin-top: 10pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-bottom: 10pt;
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
  font-size: small;
  border: thin solid black;
  background-color: #E1EEFD;
  -moz-border-radius: 5px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: #093e7d;
  -moz-user-select: -moz-none;
}

/**********************/
/* Main text elements */
/**********************/
p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: #008040;
}

/****************/
/* Environments */
/****************/
shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

emphasized {
  font-style: italic;
  color: #093e7d;
}

emphasized .inlineMath {
  color: fuchsia;
}

roman {
  font-family: Times New Roman;
  color: blue;
}

calligraphic {
  font-family: monotype corsiva;
  color: blue;
}

bold {
  font-weight: 700;
}

italics {
  font-style: italic;
}

slanted {
  font-style: italic;
  font-weight: 700;
  color: #093e7d;
}

sansSerif {
  font-family: Arial;
  font-weight: 400;
  color: #093e7d;
}

smallCaps {
  font-variant: small-caps;
  color: black;
}

typewriter {
  font-family: Courier New;
  font-weight: 700;
}

tiny {
  font-size: 50%;
}

scriptsize {
  font-size: 67%;
}

footnotesize {
  font-size: 75%;
}

small {
  font-size: 83%;
}

normalsize {
  font-size: 100%;
}

large {
  font-size: 117%;
}

Large {
  font-size: 133%;
}

LARGE {
  font-size: 150%;
}

huge {
  font-size: 167%;
}

Huge {
  font-size: 183%;
}

/*****************************/
/* Theorem-like environments */
/*****************************/
theorem {
  counter-reset: theorem;
}
theorem > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Theorem counter(theorem) ". ";
}

acknowledgement > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Acknowledgement counter(theorem) ". ";
}

algorithm > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Algorithm counter(theorem) ". ";
}

assertion > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Assertion counter(theorem) ". ";
}

assumption > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Assumption counter(theorem) ". ";
}

axiom > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Axiom counter(theorem) ". ";
}

case > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Case counter(theorem) ". ";
}

claim > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Claim counter(theorem) ". ";
}

conclusion > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Conclusion counter(theorem) ". ";
}

condition > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Condition counter(theorem) ". ";
}

conjecture > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Conjecture counter(theorem) ". ";
}

convention > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Convention counter(theorem) ". ";
}

corollary > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Corollary counter(theorem) ". ";
}

criterion > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Criterion counter(theorem) ". ";
}

definition > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Definition counter(theorem) ". ";
}

example > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Example counter(theorem) ". ";
}

exercise > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Exercise counter(theorem) ". ";
}

hypothesis > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Hypothesis counter(theorem) ". ";
}

lemma > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Lemma counter(theorem) ". ";
}

notation > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Notation counter(theorem) ". ";
}

observation > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Observation counter(theorem) ". ";
}

problem > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Problem counter(theorem) ". ";
}

property > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Property counter(theorem) ". ";
}

proposition > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Proposition counter(theorem) ". ";
}

question > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Question counter(theorem) ". ";
}

remark > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Remark counter(theorem) ". ";
}

solution > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Solution counter(theorem) ". ";
}

summary > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: Summary counter(theorem) ". ";
}
