 /* amsbook.css */

/************************/
/* Division header tags */
/************************/

part, chapter, section, subsection, subsubsection, paragraph, subparagraph {
  -moz-user-select: text;
}

part {
  display: block;
  text-align: center;
  counter-increment: part;
}

part>sectiontitle {
  display: block;
  font-size: x-large;
  font-weight: bold;
  color: rgb(9, 62, 125);
  text-align: center;
}

part>sectiontitle:before {
  content: "Part " counter(part);
  display: block;
  font-size: large;
  font-weight: bold;
  color: rgb(9, 62, 125);
  text-align: center;
  -moz-user-select: -moz-none;
}

chapter {
  display: block;
  counter-increment: chapter;
  counter-reset: section;
  counter-reset: theorem;
}

chapter sectiontitle {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  color: rgb(9, 62, 125);
}

chapter>sectiontitle:before {
  display: block;
  font-size: large;
  color: rgb(9, 62, 125);
  text-align: center;
  content: "CHAPTER " counter(chapter);
}

section {
  display: block;
  counter-increment: section;
  counter-reset: subsection;
  /*counter-reset: theorem; */
}

section sectiontitle {
  display: block;
  margin: 0;
  margin-left: 0;
  font-size: large;
  font-weight: bold;
  color: rgb(9, 62, 125);
}

section>sectiontitle:before {
  content: counter(section) ".  ";
}

subsection{
  display: block;
  text-align: left;
  counter-increment: subsection;
/*  counter-reset: subsubsection; */
}

subsection sectiontitle {
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: large;
  color: rgb(9, 62, 125);
}

subsection>sectiontitle:before {
  content: counter(section) "." counter(subsection) ".  ";
}

subsubsection {
  display:block;
  text-align: left;
    counter-increment: subsubsection;
/*    counter-reset: paragraph; */
}

subsubsection sectiontitle {
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: medium;
  font-weight: bold;
  color: rgb(9, 62, 125);
}

subsubsection>sectiontitle:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) ".  ";
}

paragraph {
  display:block;
  text-align: left;
/*    counter-increment: paragraph;  */
}

paragraph sectiontitle {
  font-size: medium;
  font-weight: normal;
  font-style: italic;
  color: rgb(9, 62, 125);
}

/*
paragraph>sectiontitle:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) ".  ";
}
*/

subparagraph {
  display:block;
  margin-left: 0pt;
  text-align: left;
/*    counter-increment: paragraph;  */
}

section defaulttitletag:after {
  content: "Replace this section title";
  color: red;
}

subsection defaulttitletag:after {
  content: "Replace this subsection title";
  color: red;
}

subsubsection defaulttitletag:after {
  content: "Replace this subsubsection title";
  color: red;
}

paragraph defaulttitletag:after {
  content: "Replace this subsubsubsection title";
  color: red;
}

subparagraph defaulttitletag:after {
  content: "Replace this subsubsubsubsection title";
  color: red;
}

/*************************/
/* Front matter elements */
/*************************/

title {
  font-size: x-large;
  display: block;
  color: rgb(9, 62, 125);
  margin-top: 12pt;
  text-align: center;
}

title > short {
   display: inline;
   padding: 0 0 0 20pt;
   color: #E1EEFD;
}

body[showshort='true'] shortTitle {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] shortTitle:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] shortTitle:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

author {
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 10pt;
}

authorid {
  display: none;
}

body[showshort='true'] authorid {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] authorid:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] authorid:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

address {
  display: block;
  color: rgb(9, 62, 125);
}

curraddr {
  text-align: center;
  display: block;
  color: rgb(9, 62, 125);
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-curraddr");
  -moz-user-select: text;
}

email {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-email");
  -moz-user-select: text;
}

urladdr {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-urladdr");
  -moz-user-select: text;
}

thanks {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-thanks");
  -moz-user-select: text;
}

date {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
}

translator {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-translator");
  -moz-user-select: text;
}

subjclass {
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-subjclass");
  -moz-user-select: text;
}

subjclassyear {
  display: none;
}

body[showshort='true'] subjclassyear {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] subjclassyear:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] subjclassyear:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

keywords {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-keywords");
  -moz-user-select: text;
}

dedicatory {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-dedicatory");
  -moz-user-select: text;
}

abstract {
  display: block;
  margin-top: 10pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-bottom: 10pt;
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
  font-size: small;
  border: thin solid black;
  background-color: #E1EEFD;
  -moz-border-radius: 5px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: 100%; font-weight: bold;
  color: rgb(9, 62, 125);
  -moz-user-select: -moz-none;
}

/**********************/
/* Main text elements */
/**********************/

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: rgb(0,128,64);
}

/****************/
/* Environments */
/****************/

shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

emphasized {
  font-style: italic;
  color: rgb(9,62,125)
}

emphasized .inlineMath {
  color: rgb(255,0,255)
}

roman {
  font-family: Times New Roman;
  color: rgb(0,0,255)
}

calligraphic{
  font-family: monotype corsiva;
  color: rgb(0,0,255)
}

bold {
  font-weight: 700
}

italics {
  font-style: italic
}

slanted {
  font-style: italic;
  font-weight: 700;
  color: rgb(9,62,125)
}

sansSerif {
  font-family: Arial;
  font-weight: 400;
  color: rgb(9,62,125)
}

smallCaps {
  font-variant: small-caps;
  color: rgb(0,0,0)
}

typewriter {
  font-family: Courier New;
  font-weight: 700
}

tiny {
  font-size: 50%
}

scriptsize {
  font-size: 67%
}

footnotesize {
  font-size: 75%
}

small {
  font-size: 83%
}

normalsize {
  font-size: 100%
}

large {
  font-size: 117%
}

Large {
  font-size: 133%
}

LARGE {
  font-size: 150%
}

huge {
  font-size: 167%
}

Huge {
  font-size: 183%
}

/*****************************/
/* Theorem-like environments */
/*****************************/

theorem > *:first-child:before {
  content: 'Theorem ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

acknowledgement > *:first-child:before {
  content: 'Acknowledgement ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

acknowledgment > *:first-child:before {
  content: 'Acknowledgment ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

algorithm > *:first-child:before {
  content: 'Algorithm ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

assertion > *:first-child:before {
  content: 'Assertion ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

assumption > *:first-child:before {
  content: 'Assumption ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

axiom > *:first-child:before {
  content: 'Axiom ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

case > *:first-child:before {
  content: 'Case ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

claim > *:first-child:before {
  content: 'Claim ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

conclusion > *:first-child:before {
  content: 'Conclusion ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

condition > *:first-child:before {
  content: 'Condition ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

conjecture > *:first-child:before {
  content: 'Conjecture ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

convention > *:first-child:before {
  content: 'Convention ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

corollary > *:first-child:before {
  content: 'Corollary ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

criterion > *:first-child:before {
  content: 'Criterion ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

definition > *:first-child:before {
  content: 'Definition ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

example > *:first-child:before {
  content: 'Example ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

exercise > *:first-child:before {
  content: 'Exercise ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

hypothesis > *:first-child:before {
  content: 'Hypothesis ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

lemma > *:first-child:before {
  content: 'Lemma ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

notation > *:first-child:before {
  content: 'Notation ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

observation > *:first-child:before {
  content: 'Observation ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

problem > *:first-child:before {
  content: 'Problem ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

property > *:first-child:before {
  content: 'Property ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

proposition > *:first-child:before {
  content: 'Proposition ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

question > *:first-child:before {
  content: 'Question ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

remark > *:first-child:before {
  content: 'Remark ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

solution > *:first-child:before {
  content: 'Solution ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

summary > *:first-child:before {
  content: 'Summary ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

