@charset "UTF-8";
/* article.scss */
/************************/
/* Division header tags */
/************************/
part {
  display: block;
  counter-increment: part;
}
part > sectiontitle, part > bodyText:first-child {
  margin: 30pt 0 0 0;
  display: block;
  font-weight: bold;
  font-size: 200%;
  color: #093e7d;
  text-align: left;
}
part > sectiontitle:before, part > bodyText:first-child:before {
  content: "Part  " counter(part, upper-roman) "";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  display: block;
  font-size: 80%;
  text-align: left;
}

/*Skip chapter for article styles*/
section {
  display: block;
  counter-increment: section;
  counter-reset: subsection;
  position: relative;
  top: 0;
  left: 0;
}
section [nonum=true] > sectiontitle:before, section [nonum=true] > bodyText:first-child:before {
  content: "";
}
section[open=false] > sectiontitle, section[open=false] > bodyText:first-child {
  color: gray;
}
section > defaulttitletag:after {
  content: "Replace this Section title";
  color: red;
}
section > sectiontitle, section > bodyText:first-child {
  display: inline;
  font-weight: bold;
  font-size: 175%;
  color: #093e7d;
}
section > sectiontitle:before, section > bodyText:first-child:before {
  content: counter(section) " ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  display: inline-block;
  padding-right: 10pt;
}

subsection {
  display: block;
  counter-increment: subsection;
  counter-reset: subsubsection;
  position: relative;
  top: 0;
  left: 0;
}
subsection [nonum=true] > sectiontitle:before, subsection [nonum=true] > bodyText:first-child:before {
  content: "";
}
subsection[open=false] > sectiontitle, subsection[open=false] > bodyText:first-child {
  color: blue;
}
subsection > defaulttitletag:after {
  content: "Replace this Subsection title";
  color: red;
}
subsection > sectiontitle, subsection > bodyText:first-child {
  display: inline;
  margin: 0 0 0 0;
  font-weight: bold;
  font-size: 150%;
  color: #093e7d;
}
subsection > sectiontitle:before, subsection > bodyText:first-child:before {
  content: counter(section) "." counter(subsection) " ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  display: inline-block;
  padding-right: 10pt;
}

subsubsection {
  display: block;
  counter-increment: subsubsection;
  counter-reset: paragraph;
}
subsubsection [nonum=true] > sectiontitle:before, subsubsection [nonum=true] > bodyText:first-child:before {
  content: "";
}
subsubsection > defaulttitletag:after {
  content: "Replace this Subsubsection title";
  color: red;
}
subsubsection > sectiontitle, subsubsection > bodyText:first-child {
  display: inline;
  margin: 0 0 0 0;
  font-weight: bold;
  font-size: 120%;
  color: #093e7d;
}
subsubsection > sectiontitle:before, subsubsection > bodyText:first-child:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  display: inline-block;
  padding-right: 10pt;
}

paragraph {
  display: block;
  counter-increment: paragraph;
  counter-reset: subparagraph;
}
paragraph [nonum=true] > sectiontitle:before, paragraph [nonum=true] > bodyText:first-child:before {
  content: "";
}
paragraph > sectiontitle, paragraph > bodyText:first-child {
  display: inline;
  margin: 0 0 0 0;
  font-weight: bold;
  font-size: 100%;
  color: #093e7d;
}
paragraph > sectiontitle:before, paragraph > bodyText:first-child:before {
  content: " ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  padding-right: 3pt;
}

subparagraph {
  display: block;
  counter-increment: subparagraph;
}
subparagraph > sectiontitle, subparagraph > bodyText:first-child {
  display: inline-block;
  margin: 0 0 0 0;
  font-weight: bold;
  font-size: 100%;
  color: #093e7d;
}
subparagraph > sectiontitle:before, subparagraph > bodyText:first-child:before {
  content: "";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
  display: inline-block;
  padding-right: 12pt;
}

/*************************/
/* Front matter elements */
/*************************/
title {
  font-size: 200%;
  font-weight: normal;
  color: #093e7d;
  line-height: 20pt;
  display: block;
  margin-top: 12pt;
  text-align: center;
}

author {
  font-size: 100%;
  font-weight: normal;
  color: #093e7d;
  display: block;
  padding-top: 10pt;
  text-align: center;
}

address {
  font-size: 100%;
  font-weight: normal;
  color: #093e7d;
  display: block;
  text-align: center;
}

date {
  font-size: 100%;
  font-weight: normal;
  color: #093e7d;
  display: block;
  padding-top: 2pt;
  text-align: center;
}

abstract {
  display: block;
  margin-top: 30pt;
  margin-left: 0pt;
  margin-right: 0pt;
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
  font-size: small;
  border: thin solid black;
  background-color: #E1EEFD;
  -moz-border-radius: 5px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: #093e7d;
  -moz-user-select: -moz-none;
}

/**********************/
/* Main text elements */
/**********************/
p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

math {
  direction: ltr;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

rtlBodyText {
  display: block;
  direction: rtl;
  unicode-bidi: bidi-override;
  margin: 10pt 10pt 5pt 5pt;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: #008040;
}

/****************/
/* Environments */
/****************/
shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

*[showinvis=true] longQuotation:after {
  content: "¶";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
  -moz-user-select: -moz-none;
}

/* Non-standard element (gp)
epigraph {
  display: block;
  color: white;
  background-color: black;
  margin-left: 20pt;
  margin-right: 20pt;
}
*/
centeredEnv, centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

pre, verbatim {
  font-family: Courier;
  white-space: pre;
}

/*****************************/
/* Theorem-like environments */
/*****************************/
theorem > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Theorem" " " counter(theorem) " ";
}

acknowledgement > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Acknowledgement" " " counter(theorem) " ";
}

acknowledgment > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Acknowledgment" " " counter(theorem) " ";
}

algorithm > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Algorithm" " " counter(theorem) " ";
}

assertion > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Assertion" " " counter(theorem) " ";
}

assumption > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Assumption" " " counter(theorem) " ";
}

axiom > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Axiom" " " counter(theorem) " ";
}

case > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Case" " " counter(theorem) " ";
}

claim > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Claim" " " counter(theorem) " ";
}

conclusion > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Conclusion" " " counter(theorem) " ";
}

condition > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Condition" " " counter(theorem) " ";
}

conjecture > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Conjecture" " " counter(theorem) " ";
}

convention > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Convention" " " counter(theorem) " ";
}

corollary > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Corollary" " " counter(theorem) " ";
}

criterion > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Criterion" " " counter(theorem) " ";
}

definition > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Definition" " " counter(theorem) " ";
}

example > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Example" " " counter(theorem) " ";
}

exercise > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Exercise" " " counter(theorem) " ";
}

hypothesis > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Hypothesis" " " counter(theorem) " ";
}

lemma > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Lemma" " " counter(theorem) " ";
}

notation > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Notation" " " counter(theorem) " ";
}

observation > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Observation" " " counter(theorem) " ";
}

problem > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Problem" " " counter(theorem) " ";
}

property > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Property" " " counter(theorem) " ";
}

proposition > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Proposition" " " counter(theorem) " ";
}

question > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Question" " " counter(theorem) " ";
}

remark > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Remark" " " counter(theorem) " ";
}

solution > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Solution" " " counter(theorem) " ";
}

summary > *:first-child:before {
  font-weight: bold;
  -moz-user-modify: read-only;
  content: "Summary" " " counter(theorem) " ";
}

/***************/
/* Lists, etc. */
/***************/
enumerate {
  counter-reset: item-number;
}

enumerate > item {
  display: block;
  margin: 0 0 0 0;
  padding: 10pt 0 0 20pt;
}

enumerate > item:before {
  content: counter(item-number) ". ";
  counter-increment: item-number;
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

description {
  counter-reset: item;
}

itemize {
  list-style: disc;
  counter-reset: item;
}

/***************/
/* Other stuff */
/***************/
img {
  display: inline;
}

button[class=subeqnnum] {
  right: 20px;
  font-style: normal;
  color: blue;
}

/*  Following moved to latex.css
button[class="eqnnum"]:after{
  content: "  " counter(section) "." counter(eqnnumber);
}

button[class="subeqnnum"]:after{
  content: "  " counter(section) "." counter(eqnnumber) "." counter(subeqnnum,lower-latin);
}
*/
[hideindexentries=true] indexitem {
  display: none;
}

[hidemarkers] a[key] {
  display: none;
}
