/* article.css */

/************************/
/* Division header tags */
/************************/

part {
  display: block;
  counter-increment: part;
}

part>sectiontitle:first-child {
  display: block;
  font-size: 200%;
  font-weight: bold;
  color: rgb(9, 62, 125);
  text-align:center;
}

part>sectiontitle:first-child:before {
  content: "Part " counter(part,upper-roman);
  display: block;
  font-size: large;
  font-weight: bold;
  margin-bottom: 5pt;
  -moz-user-select: -moz-none;
}

/* There are no chapters in articles, so comment out this group (gp)
chapter {
  display: block;
  position: relative;
  counter-increment: chapter;
  counter-reset: section theorem;
}

chapter>sectiontitle{
  font-size: large;
  font-weight: bold;
  line-height: 24pt;
  text-align: center;
}

chapter>sectiontitle:before, chapter[open="true"]>sectiontitle:before  {
  content: "Chapter " counter(chapter,upper-roman) " ";
  display: block;
  margin-left: .2in;
  font-size: large;
  font-weight: bold;
  line-height: 24pt;
  text-align: center;
  -moz-user-select: -moz-none;
}

chapter[open="false"]>sectiontitle:before{
  content: "Chapter " counter(chapter) "  ";
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
  display: block;
  -moz-user-select: -moz-none;
}
*/

section {
  display: block;
  counter-increment: section;
  counter-reset: subsection theorem eqnnumber subeqnnumber;
  position: relative;
  top: 0;
  left: 0;
}

section>sectiontitle:first-child{
  display: block;
  margin: 10pt 0 0 0;
  font-size: 175%;
  font-weight: bold;
  color: rgb(9, 62, 125);
}

section>sectiontitle:first-child[open="false"]{
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: 175%;
  font-weight: bold;
}

section>sectiontitle:first-child:before, section[open="true"]>sectiontitle:first-child:before  {
  content: counter(section) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

section[nonum="true"]>sectiontitle:first-child:before, section[nonum="true"][open="true"]>sectiontitle:first-child:before  {
  content: "";
  -moz-user-modify: read-only;
}


section>sectiontitle:first-child[open="false"], section>sectiontitle[open="false"] {
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: large;
  font-weight: bold;
}

section>sectiontitle{
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: large;
  font-weight: bold;
}


subsection {
  display: block;
  counter-increment: subsection;
  counter-reset: subsubsection;
}

subsection>sectiontitle:first-child {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 150%;
  font-weight: bold;
  color: rgb(9, 62, 125);
}

subsection>sectiontitle:first-child:before {
  content: counter(section) "." counter(subsection) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

subsection[nonum="true"]>sectiontitle:first-child:before {
  content: "";
}


subsubsection {
  display:block;
  counter-increment: subsubsection;
  counter-reset: paragraph;
}

subsubsection>sectiontitle:first-child {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 120%;
  font-weight: bold;
  color: rgb(9, 62, 125);
}

subsubsection>sectiontitle:first-child:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) ".  ";
  -moz-user-select: -moz-none;
}
subsubsection[nonum="true"]>sectiontitle:first-child:before {
  content: "";
  -moz-user-select: -moz-none;
}


subsubsection defaulttitletag:after {
  content: "Replace this subsubsection title";
  color: gray;
}

paragraph {
  display:block;
  counter-increment: paragraph;
}

paragraph>sectiontitle:first-child {
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  color: rgb(9, 62, 125);
}

paragraph>sectiontitle:first-child:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) ".  ";
  -moz-user-select: -moz-none;
}

paragraph[nonum="true"]>sectiontitle:first-child:before {
  content: "";
  -moz-user-select: -moz-none;
}

subparagraph {
  display: block;	/* Should be a run-in header, but someone esle will have to figure out how to do that.  Instead, use Version 5.5 behavior. */
  counter-increment: subparagraph;
}

subparagraph>sectiontitle:first-child {
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  color: rgb(9, 62, 125);
  margin-left: 10pt;
}


/*************************/
/* Front matter elements */
/*************************/

title {
  font-size: 200%;
  font-weight: bold;
  color: rgb(9, 62, 125);
  line-height: 20pt;
  display: block;
  margin-top: 12pt;
  text-align: center;
}

author {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 10pt;
  text-align: center;
}

address {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  text-align: center;
}

date {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 2pt;
  text-align: center;
}

abstract {
  display: block;
  margin-top: 30pt;
  margin-left: 50pt;
  margin-right: 50pt;
  padding-left: 15pt;
  padding-right: 15pt;
  font-size: small;
  border: thin solid black;
  background-color: #E1EEFD;
  -moz-border-radius: 5px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: 100%; font-weight: bold;
  color: rgb(9, 62, 125);
  -moz-user-select: -moz-none;
}

maketitle, maketoc, makelof, makelot {
  display: block;
}

/**********************/
/* Main text elements */
/**********************/

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

math {
  direction: ltr;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

rtlBodyText {
  display: block;
  direction: rtl;
  unicode-bidi: bidi-override;
  margin: 10pt 10pt 5pt 5pt;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: rgb(0,128,64);
}

shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}
longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

*[showinvis="true"] longQuotation:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
  -moz-user-select: -moz-none;
}

/* Non-standard element (gp)
epigraph {
  display: block;
  color: white;
  background-color: black;
  margin-left: 20pt;
  margin-right: 20pt;
}
*/

centeredEnv, centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

pre, verbatim {
  font-family: Courier; white-space: pre
}



/*
theorem {
  display: block;
  font-style: italic;
  counter-increment: theorem;
}

theorem:before {
  content:  "Theorem " counter(section) "."  counter(theorem) ". " ;
  -moz-user-select: -moz-none;
}
*/

/***************/
/* Lists, etc. */
/***************/

enumerate { counter-reset: item-number }

enumerate>item { display: block ;
                 margin: 0 0 0 0;
                 padding: 10pt 0 0 20pt }

enumerate>item:before { content: counter(item-number) ". "; counter-increment: item-number }

description {
  counter-reset: item;
}

itemize {
  list-style: disc;
  counter-reset: item;
}

/***************/
/* Other stuff */
/***************/

img {
  display: inline;
}

button[class="subeqnnum"]{
  right: 20px;
  font-style: normal;
  color: blue;
}

/*  Following moved to latex.css
button[class="eqnnum"]:after{
  content: "  " counter(section) "." counter(eqnnumber);
}

button[class="subeqnnum"]:after{
  content: "  " counter(section) "." counter(eqnnumber) "." counter(subeqnnum,lower-latin);
}
*/

[hideindexentries="true"] indexitem {
  display: none;
}

[hidemarkers] a[key] {
  display: none;
}

