/* article.css */

/************************/
/* Division header tags */
/************************/

@charset "UTF-8";
/*Divisions
*/
bodyText {
  display: block;
}

part {
  display: block;
  counter-increment: part;
  counter-reset: chapter section subsection theorem eqnnumber subeqnnumber;
}
part [nonum=true] > sectiontitle:before, part [nonum=true] > bodyText:first-child:before {
  content: "";
}
part > sectiontitle, part > bodyText:first-child {
  display: block;
  font: bold xx-large;
  margin: 0 0 5pt 0;
  text-align: center;
}
part > sectiontitle:before, part > bodyText:first-child:before {
  content: "Part " counter(part, upper-roman) ". ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

/*Skip chapter for article styles*/
section {
  display: block;
  counter-increment: section;
  counter-reset: subsection theorem;
  position: relative;
  top: 0;
  left: 0;
}
section [nonum=true] > sectiontitle:before, section [nonum=true] > bodyText:first-child:before {
  content: "";
}
section[open=false] > sectiontitle, section[open=false] > bodyText:first-child {
  color: blue;
}
section > defaulttitletag:after {
  content: "Replace this Section title";
  color: red;
}
section > sectiontitle, section > bodyText:first-child {
  display: block;
  font: bold large serif;
  margin: 30pt 0 0 0;
  color: #093e7d;
}
section > sectiontitle:before, section > bodyText:first-child:before {
  content: counter(section) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

subsection {
  display: block;
  counter-increment: subsection;
  counter-reset: subsubsection;
  position: relative;
  top: 0;
  left: 0;
}
subsection [nonum=true] > sectiontitle:before, subsection [nonum=true] > bodyText:first-child:before {
  content: "";
}
subsection[open=false] > sectiontitle, subsection[open=false] > bodyText:first-child {
  color: blue;
}
subsection > defaulttitletag:after {
  content: "Replace this Subsection title";
  color: red;
}
subsection > sectiontitle, subsection > bodyText:first-child {
  font: bold medium italics;
  margin: 30pt 0 0 0;
  color: #093e7d;
}
subsection > sectiontitle:before, subsection > bodyText:first-child:before {
  content: "§ " counter(section) "." counter(subsection) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

subsubsection {
  display: block;
  counter-increment: subsubsection;
  counter-reset: paragraph;
}
subsubsection [nonum=true] > sectiontitle:before, subsubsection [nonum=true] > bodyText:first-child:before {
  content: "";
}
subsubsection > defaulttitletag:after {
  content: "Replace this Subsubsection title";
  color: red;
}
subsubsection > sectiontitle, subsubsection > bodyText:first-child {
  display: inline;
  font: bold serif;
  margin: 30pt 0 0 0;
  color: #093e7d;
}
subsubsection > sectiontitle:before, subsubsection > bodyText:first-child:before {
  content: " " counter(section) "." counter(subsection) "." counter(subsubsection) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

paragraph {
  display: block;
  counter-increment: paragraph;
  counter-reset: subparagraph;
}
paragraph [nonum=true] > sectiontitle:before, paragraph [nonum=true] > bodyText:first-child:before {
  content: "";
}
paragraph > sectiontitle, paragraph > bodyText:first-child {
  display: inline;
  font: bold;
  margin: 30pt 0 0 0;
  color: #093e7d;
}
paragraph > sectiontitle:before, paragraph > bodyText:first-child:before {
  content: "§ " counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

subparagraph {
  display: block;
  counter-increment: subparagraph;
}
subparagraph [nonum=true] > sectiontitle:before, subparagraph [nonum=true] > bodyText:first-child:before {
  content: "";
}
subparagraph > sectiontitle, subparagraph > bodyText:first-child {
  display: inline;
  font: bold 100% serif;
  margin: 30pt 0 0 0;
  color: #093e7d;
}
subparagraph > sectiontitle:before, subparagraph > bodyText:first-child:before {
  content: "§§ " counter(subparagraph) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

/*************************/
/* Front matter elements */
/*************************/

title {
  font-size: 200%;
  font-weight: bold;
  color: rgb(9, 62, 125);
  line-height: 20pt;
  display: block;
  margin-top: 12pt;
  text-align: center;
}

author {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 10pt;
  text-align: center;
}

address {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  text-align: center;
}

date {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 2pt;
  text-align: center;
}

abstract {
  display: block;
  margin-top: 30pt;
  margin-left: 0pt;
  margin-right: 0pt;
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
  font-size: small;
  border: thin solid black;
  background-color: #E1EEFD;
  -moz-border-radius: 5px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: 100%; font-weight: bold;
  color: rgb(9, 62, 125);
  -moz-user-select: -moz-none;
}

/**********************/
/* Main text elements */
/**********************/

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

math {
  direction: ltr;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

rtlBodyText {
  display: block;
  direction: rtl;
  unicode-bidi: bidi-override;
  margin: 10pt 10pt 5pt 5pt;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: rgb(0,128,64);
}

/****************/
/* Environments */
/****************/

shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}
longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

*[showinvis="true"] longQuotation:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
  -moz-user-select: -moz-none;
}

/* Non-standard element (gp)
epigraph {
  display: block;
  color: white;
  background-color: black;
  margin-left: 20pt;
  margin-right: 20pt;
}
*/

centeredEnv, centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

pre, verbatim {
  font-family: Courier; white-space: pre
}


/*****************************/
/* Theorem-like environments */
/*****************************/

theorem > *:first-child:before {
  content: 'Theorem ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}


acknowledgment > *:first-child:before {
  content: 'Acknowledgment ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

algorithm > *:first-child:before {
  content: 'Algorithm ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

assertion > *:first-child:before {
  content: 'Assertion ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

assumption > *:first-child:before {
  content: 'Assumption ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

axiom > *:first-child:before {
  content: 'Axiom ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

case > *:first-child:before {
  content: 'Case ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

claim > *:first-child:before {
  content: 'Claim ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

conclusion > *:first-child:before {
  content: 'Conclusion ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

condition > *:first-child:before {
  content: 'Condition ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

conjecture > *:first-child:before {
  content: 'Conjecture ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

convention > *:first-child:before {
  content: 'Convention ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

corollary > *:first-child:before {
  content: 'Corollary ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

criterion > *:first-child:before {
  content: 'Criterion ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

definition > *:first-child:before {
  content: 'Definition ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

example > *:first-child:before {
  content: 'Example ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

exercise > *:first-child:before {
  content: 'Exercise ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

hypothesis > *:first-child:before {
  content: 'Hypothesis ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

lemma > *:first-child:before {
  content: 'Lemma ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

notation > *:first-child:before {
  content: 'Notation ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

observation > *:first-child:before {
  content: 'Observation ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

problem > *:first-child:before {
  content: 'Problem ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

property > *:first-child:before {
  content: 'Property ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

proposition > *:first-child:before {
  content: 'Proposition ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

question > *:first-child:before {
  content: 'Question ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

remark > *:first-child:before {
  content: 'Remark ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

solution > *:first-child:before {
  content: 'Solution ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}

summary > *:first-child:before {
  content: 'Summary ' counter(theorem) '  ';
  font-weight: bold;
  -moz-user-modify: read-only;
}


/***************/
/* Lists, etc. */
/***************/

enumerate { counter-reset: item-number }

enumerate>item { display: block ;
                 margin: 0 0 0 0;
                 padding: 10pt 0 0 20pt }

enumerate>item:before { content: counter(item-number) ". ";
  counter-increment: item-number;
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

description {
  counter-reset: item;
}

itemize {
  list-style: disc;
  counter-reset: item;
}

/***************/
/* Other stuff */
/***************/

img {
  display: inline;
}

button[class="subeqnnum"]{
  right: 20px;
  font-style: normal;
  color: blue;
}

/*  Following moved to latex.css
button[class="eqnnum"]:after{
  content: "  " counter(section) "." counter(eqnnumber);
}

button[class="subeqnnum"]:after{
  content: "  " counter(section) "." counter(eqnnumber) "." counter(subeqnnum,lower-latin);
}
*/

[hideindexentries="true"] indexitem {
  display: none;
}

[hidemarkers] a[key] {
  display: none;
}

