body { 
  display: block;
  font-family: Arial;
  margin-left: 20pt;
  font-size: 12pt;
  line-height: 14pt;
}


pre, verbatim { font-family: Courier; white-space: pre }

item { margin: 0pt 0pt 0pt 0pt; 
       padding: 10pt 0pt 0pt 20pt; 
       display: list-item }

item:before { content: counters(item, ".") ":  ";
  counter-increment: item;
} 
 
enumerate { counter-reset: item; }

description { counter-reset: item; }  

itemize { list-style: disc; 
  counter-reset: item; }

img { display: inline; margin: 2em } 

quote { display: block; }

tabular {
display: table
}

tr {
display: table-row
}


td {
display: table-cell
}


latex {
  -moz-binding: url("resource://app/res/xbl/latex.xml#latex");
}

tex {
  -moz-binding: url("resource://app/res/xbl/latex.xml#tex");
  display:none;
}

texb {
/*  font-size: small; */
  -moz-binding: url("resource://app/res/xbl/latex.xml#texb");
}

latexstyleb {
  -moz-binding: url("resource://app/res/xbl/latex.xml#latexstyleb");
}


texb, latexstyleb { 
  color: red;
  -moz-appearance: button;
  padding: 2px 10px;
  min-width: 6.3em;
  border: 3px solid;
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
  -moz-user-select: all;	  
}

maketitle { display:block;
  min-height: 10pt;
}

maketitle:before { content: "Title page goes here";
  color: green;
}

tableofcontents { display:block;
}

tableofcontents:before { content: "Table of contents goes here";
  color: green;
}

listoffigures { display:block;
}

listoffigures:before { content: "List of figures goes here";
  color: green;
}

listoftables { display:block;
}

listoftables:before { content: "List of tables goes here";
  color: green;
}

											
styledata {
  display: none;
}

											
styleprop {
  -moz-user-select: all;
}

preamble{
  display: none;
}

/* We make the refprint... tags invisible on the screen, but we want to make
 them visible in print.  TODO */

refprintleft {
  display: none;
}

refprintright {
  display: none;
}

img {
  -moz-force-broken-image-icon: 1;
  min-height: 17px; min-width: 70px;
}

graphSpec {
  display: none;
}  

upper {
  text-transform: uppercase;
}
  
lower {
  text-transform: lowercase;
}
  
otfont {
  display: inline;
}

/*footnote {
  display: none;
} */


note[type="footnote"] {
  margin: 1px 0;
  border-width: 2px 0;
  border-color: blue;
  border-style: solid;
  color: blue;
  display: block; 
  width: inherit;
  float: none;
}	 

notewrapper[type="footnote"]:before { content: counter(footnote);
  counter-increment: footnote;
  vertical-align: super;
} 

notewrapper {
  display: inline;
}

note {
  margin: 0px 20px;
  border-width: 2px;
  border-color: red;
  border-style: solid;
  display: block;
  color: red;
  float: right;
  width: 3in
}

frame {
  margin: 10px;
  border-width: 2px;
  border-style: solid;
  color: green;
  float: left;
  width: 3in;
}