@namespace mml url("http://www.w3.org/1998/Math/MathML");

/* Print-only rules. We put them here where they are noticeable. */
@media print {
*[nopr] {display: none;}
object[msigraph="true"] {display:none;}
}

@media screen {
  plotwrapper object[msisnap] { display:none;}
}

/* This section gives the default colors for a range
of items. The user can override these colors using a dialog.
In that case in internal style sheet will rewrite these rules. */

mml|math { color: red;}
[msimathname="true"] { color: gray;
	font-style: normal;}
mml|* [msiunit="true"] {color: green;
	font-style: normal;}
mml|mtd {border-color: green; }
msidisplay mml|math {border-color: green; 
  border-width: 1px; 
  border-style: solid; 
  min-height: 12px;}
mml|mtext { color: black; }
[msiclass="msi_passthrough"] {color: orange; }
mml|mi[msiclass="enginefunction"] {text-decoration: underline; }


pre, verbatim { font-family: Courier; white-space: pre }

verbatim bodyText {
  margin: 0;
  padding: 0;
}
numberedListItem, 
bulletListItem,
descriptionListItem.
bibitem {
       margin-left: 2em;
       padding-left: 1em;
       display: list-item;}

numberedlist {
  list-style-type: none;
  list-style-position: outside;
  counter-reset: numberedlist;
}

bulletlist { list-style: disc outside;}
bulletlist bulletlist { list-style: circle outside;}
bulletlist bulletlist bulletlist { list-style: square outside;}
bulletlist bulletlist bulletlist bulletlist { list-style: disc outside;}


descriptionlist {list-style-type: none;}

/* bulletListItem { margin-left: 2em; } */


numberedListItem>bodyText:first-child:before { content: counter(numberedlist, decimal) '. ';
  counter-increment: numberedlist;
  width: 2em;
  -moz-user-modify: read-only;
}

numberedlist numberedlist numberedListItem>bodyText:first-child:before { content: '(' counter(numberedlist, lower-latin) ') ';padding-left: 3em;}
numberedlist numberedlist numberedlist numberedListItem>bodyText:first-child:before { content: counter(numberedlist, lower-roman) '. ';padding-left: 5em;}
numberedlist numberedlist numberedlist numberedlist numberedListItem>bodyText:first-child:before { content: counter(numberedlist, upper-latin) '. ';padding-left: 7em;}

numberedListItem>bodyText:first-child:first-line { content: '  ';
  -moz-user-modify: read-only;
}

/* proof {
  display: block;
}

proof:before {
  content: "Proof. ";
  background-color: lightgray;
  font-weight: bold;
} */

img { display: inline;}

shortQuote { display: block; }

tabular {
display: table
}

tr {
display: table-row
}


td {
display: table-cell
}



texb {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#texb");
}

xref {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#xref");
}

printindex {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#printindex");
}

indexitem {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#indexitem");
}

indexitem[specAppearance] {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#indexitemSpecApp");
}

latexstyleb {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#latexstyleb");
}

a[name]{
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#label");
}

latexstyleb {
  color: red;
  -moz-appearance: button;
  padding: 2px 10px;
  min-width: 6.3em;
  border: 3px solid;
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
  -moz-user-select: all;
}

xref {
  content: attr(key);
/*  -moz-appearance: button;
*/}

requestimplementation {
  -moz-appearance: button;
  color: brown;
  font-size: 12pt;
  border: 1px solid;
  padding: 1px 2px;
  min-width: 6.3em;
}


requestimplementation:before {content: "Support Me: "}


styledata {
  display: none;
}


styleprop {
  -moz-user-select: all;
}

preamble{
  display: none;
}

/* We make the refprint... tags invisible on the screen, but we want to make
 them visible in print.  TODO */

refprintleft {
  display: none;
}

refprintright {
  display: none;
}

img {
  -moz-force-broken-image-icon: 1;
  min-height: 6px; min-width: 6px;
}

graphSpec {
  display: none;
}

upper {
  text-transform: uppercase;
}

lower {
  text-transform: lowercase;
}

otfont {
  display: inline;
}

descriptionLabel,
biblabel,
bibkey {
  margin-right: 1em;
  min-width: .5em;
  display: inline;
  border: thin solid #BBBB77;
  border-radius: 3px;
  background-color: #FFFFBB;
}

numberedLabel {
  display: inline;
  background-color: #FFFFBB;
}

bulletLabel {
  display: inline;
  background-color: #FFFFBB;
}

/* show footnotes by default*/
note[type="footnote"], node[type="footnote"][hide="false"] {
  display: block;
  float: left;
  width: 100%;
  clear: right;
  font-size: small;
}

/* never show footnotes marked 'hide'*/
note[hide="true"] {
  display: none !important;
}


/* display footnotes marked 'hide=false' even when 'hideFootnotes=true'
*[hideFootnotes="true"] note[type="footnote"][hide="false"] {
  display: block !important;
}
*/

*[hideOtherNotes="true"] note[type="footnote"] {
  display: block !important;
}

*[hideOtherNotes="true"] note[type="footnote"] {
  display: block !important;
}

*[hideFootnotes="true"] note[type="footnote"] {
  display: none;
}

*[hideOtherNotes="true"] note {
  display: none !important;
}

*[hideOtherNotes="true"][hideFootnotes="true"] note[type="footnote"] {
  display: none !important;
}

*[hideFootnotes="true"] note[type="footnote"][hide="false"] {
  display: block;
}

*[hideOtherNotes="true"] note[hide="false"] {
  display: block !important;
}

*[hideOtherNotes="true"][hideFootnotes="true"] note[type="footnote"][hide="false"] {
  display: block !important;
}

note[type="footnote"] {
  margin: 1px 0;
  border-width: 1px 0;
  border-color: #306060;
  border-style: solid;
  color: #306060;
}

notewrapper[type="footnote"]:before {
  content: counter(ftnotectr);
  vertical-align: super;
  font-size: small;
  color: red;
  display: inline;
  -moz-user-modify: read-only;
  -moz-user-select: text;
}

notewrapper[type="footnote"][markOrText="textOnly"]:before {
  content: none !important;
}

notewrapper[type="footnote"][markOrText="markOnly"] > note {
  display: none !important;
}

notewrapper[type="footnote"]{
  counter-increment: ftnotectr;
}

notewrapper[type="footnote"][footnoteNumber]:before {
  content: attr(footnoteNumber);
}

notewrapper[type="footnote"][footnoteNumber], notewrapper[type="footnote"][markOrText="textOnly"] {
  counter-increment: none !important;
}

notewrapper {
  display: inline;
}

note {
  margin: 0 5px;
  border-width: 1px;
  border-color: red;
  border-style: solid;
  display: block;
  color: red;
  float: right;
  width: 40%;
}



drop {
  float: left;
  font-size: 4.2em;
  line-height: .7;
  padding-top: .08em;
}

marker {
  background-color: rgb(240,240,240);
}

marker:before {
  content: "[Marker: " attr(id) "]";
  -moz-user-modify: read-only;
}



IncludeSubdoc {
  display: block;
  background-color: gray;
}

IncludeSubdoc:before {
  content: "Include: "
}

IncludeSubdoc>TeX {
  display: none;
}

button [class="msi"] {
  font-family: sans-serif;
  font-style: normal;
  -moz-user-select: all;
}

button[class="msi"]::-moz-selection, button[class="msi"][selected="true"] {
  background-color: blue;
}

texb, makelof, makelot, maketitle, maketoc, appendix {
  font-family: sans-serif;
  font-style: normal;
  -moz-user-select: all;

} 

mml|menclose {
  min-width: 1em;
  min-height: 1.5ex
}

mml|menclose[notation] {
  border-style : solid;
  border-width : thin;
  border-color : black
}

mml|menclose[notation~="box"][type="fbox"] {
  padding : 4px
}

mml|menclose[notation~="roundedbox"] {
  padding : 0.5ex 0.4em;
  -moz-border-radius : 0.5em
}

mml|menclose[notation~="circle"] {
  padding : 0.8ex 0.4em;
  -moz-border-radius : 100%
}

*[hideIndexEntries="true"] indexitem {
  display: none;
}

*[hideindexentries="true"] indexitem {
  display: none;
}

*[hidemarkers] a[key] {
  display: none !important;
}

*[hidemarkers] marker {
  display: none !important;
}

*[hideMarkers] a[key] {
  display: none !important;
}


*[hideHelperLines="true"] mml|mtd {
  border-style : none;
}

*[hideHelperLines="true"] msidisplay math {
  border-style : none;
}

mml|mtd {
  border-width: 0 1px 1px 0;
  border-style: solid;
}

mml|mtr > mml|mtd:first-child {
  border-left-width: 1px;
}


mml|mtr:first-child > mml|mtd {
  border-top-width: 1px;
}

[hideInputBoxes="true"] mml|*[tempinput="true"] {
  visibility: hidden;
}


citation {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#citation");
}

bibtexbibliography {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#bibtexbibliography");
}

bibliography {
  list-style-type: none;
  list-style-position: outside;

  counter-reset: bibliographylist;
}

bibliography:before {
  content: "References"; 
  font-size: 150%;
}

bibitem {
  counter-increment: bibliographylist;
/*  -moz-binding: url("chrome://prince/content/bindings/latex.xml#bibitem");
*/}

bibitem[hasLabel="true"] {
  display:  block;
  counter-increment: none;
/*  -moz-binding: url("chrome://prince/content/bindings/latex.xml#bibitemwithlabel");
*/}

bibitem > biblabel+bodyText {
  display: inline;
}

shortTitle {
  display: none;
}

body[showshort='true'] shortTitle {
  display: inline;
  color: green;
}

body[showshort='true'] shortTitle:before {
  content: '[';
  display: inline;
  color: green;
}

body[showshort='true'] shortTitle:after {
  content: '] ';
  display: inline;
  color: green;
}

msiframe {
  display: block;
  text-indent: 0;
}

msiframe[pos="inline"] {
  display: inline-block;
}

msiframe[captionloc]
{
  display: table;
}

msiframe[captionloc][pos="inline"] {
  display: inline-table;
}

msiframe[captionloc] > object {
  display: table-row;
}

msiframe[captionloc="above"] > imagecaption {
  display: table-caption;
  caption-side: top;
}

msiframe[captionloc="below"] > imagecaption {
  display: table-caption;
  caption-side: bottom;
}

a:link, xref, xref button {
  cursor: pointer !important;
}
