@namespace mml url("http://www.w3.org/1998/Math/MathML");
@namespace sw url("http://www.sciword.com/namespaces/sciword");

beamerframe, stepnumberedListItem, stepbulletListItem, alertstepnumberedListItem, alertstepbulletListItem,
frametitle, framesubtitle, subtitle, institute, subject, keywords {
  -moz-user-select: text;
}

author {
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 10pt;
}

authorid {
  display: none;
}

body[showshort='true'] authorid {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] authorid:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] authorid:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

subtitle {
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 10pt;
  -moz-binding: url("chrome://prince/content/bindings/beamer.xml#fmtag-subtitle");
}

subtitleid {
  display: none;
}

body[showshort='true'] subtitleid {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] subtitleid:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] subtitleid:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

date {
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 10pt;
}

option {
  display: none;
}

body[showshort='true'] option {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] option:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] option:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

institute {
  display:block;
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  -moz-binding: url("chrome://prince/content/bindings/beamer.xml#fmtag-institute");
}

instituteid {
  display: none;
}

body[showshort='true'] instituteid {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] instituteid:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] instituteid:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

subject {
  display:block;
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  -moz-binding: url("chrome://prince/content/bindings/beamer.xml#fmtag-subject");
}

keywords {
  display:block;
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  -moz-binding: url("chrome://prince/content/bindings/beamer.xml#fmtag-keywords");
}

beamerframe {
  display: block;
  position: relative;
  margin-left: 50px;
  padding: 10px;
  border: thin solid black;
  background-color: #EEE0E0;
  -moz-border-radius: 4px;
}

*[showinvis="true"] stepnumberedlist {
  display: block;
  padding: 10px;
  border: 5px solid rgb(190,220,220);
  -moz-border-radius: 4px;
}

*[showinvis="true"] stepbulletlist {
  display: block;
  padding: 10px;
  border: 5px solid rgb(190,220,220);
  -moz-border-radius: 4px;
}

*[showinvis="true"] alertstepnumberedlist {
  display: block;
  padding: 10px;
  border: 5px solid rgb(255,220,220);
  -moz-border-radius: 4px;
}

*[showinvis="true"] alertstepbulletlist {
  display: block;
  padding: 10px;
  border: 5px solid rgb(255,220,220);
  -moz-border-radius: 4px;
}

*[showinvis="true"] stepnumberedListItem {
  display: block;
  border: 5px solid rgb(190,210,220);
  -moz-border-radius: 4px;
}

*[showinvis="true"] stepbulletListItem {
  display: block;
  border: 5px solid rgb(190,210,220);
  -moz-border-radius: 4px;
}

*[showinvis="true"] alertstepnumberedListItem {
  display: block;
  border: 5px solid rgb(255,210,220);
  -moz-border-radius: 4px;
}

*[showinvis="true"] alertstepbulletListItem {
  display: block;
  border: 5px solid rgb(255,210,220);
  -moz-border-radius: 4px;
}

stepnumberedListItem {
  display: block;
  border: 5px solid rgb(190,210,220);
  -moz-border-radius: 4px;
}

stepbulletListItem {
  display: block;
  border: 5px solid rgb(190,210,220);
  -moz-border-radius: 4px;
}

alertstepnumberedListItem {
  display: block;
  border: 5px solid rgb(255,210,220);
  -moz-border-radius: 4px;
}

alertstepbulletListItem {
  display: block;
  border: 5px solid rgb(255,210,220);
  -moz-border-radius: 4px;
}

stepnumberedListItem,
stepbulletListItem,
alertstepnumberedListItem,
alertstepbulletListItem { margin: 0;
       padding: 0;
       display: list-item;}

stepnumberedlist,
alertstepnumberedlist {
  list-style-type: none;
  list-style-position: outside;
  counter-reset: numberedlist;
}


stepbulletlist,
alertstepbulletlist {list-style-type: disc;
}

stepbulletListItem,
alertstepbulletListItem { margin-left: 2em; }

stepnumberedListItem>bodyText:first-child:before,
alertstepnumberedListItem>bodyText:first-child:before { content: '(' counter(numberedlist) ') ';
  counter-increment: numberedlist;
  width: 2em;
  -moz-user-modify: read-only;
}

stepnumberedListItem>bodyText:first-child:first-line,
alertstepnumberedListItem>bodyText:first-child:first-line { content: '  ';
}


frametitle, QTR[type="frametitle"] {
  display: block;
  font-size: 120%;
  color: rgb(100,100,200);
  -moz-user-select: text;
}

framesubtitle, QTR[type="framesubtitle" {
  display: block; 
  font-size: 110%;
  color: rgb(75,75,150);
  -moz-user-select: text;
}
