/* book.css */

/************************/
/* Division header tags */
/************************/

part, chapter, section, subsection, subsubsection, paragraph, subparagraph {
  -moz-user-select: text;
}

part {
  display: block;
  counter-increment: part;
}

part sectiontitle {
  display: block;
  font-size: 24pt;
  font-weight: bold;
  color: rgb(9, 62, 125);
  text-align: center;
}

part>sectiontitle:before {
  content: "Part " counter(part,upper-roman);
  display: block;
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 5pt;
  -moz-user-select: -moz-none;
}

chapter {
  display: block;
  counter-increment: chapter;
  counter-reset: section;
/*  counter-reset: theorem; */
}

chapter sectiontitle {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 20pt;
  font-weight: bold;
  text-align: left;
}

chapter sectiontitle:before {
  content: counter(chapter) ". ";
}

section {
  display: block;
  counter-increment: section;
/*  counter-reset: subsection;
  counter-reset: theorem; */
}

section sectiontitle {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 18pt;
  font-weight: bold;
}


section>sectiontitle:before {
  content: counter(chapter) "." counter(section) ".  ";
}

section defaulttitletag:after {
  content: "Replace this section title";
  color: red;
}

subsection{
  display: block;
  counter-increment: subsection;
/*  counter-reset: subsubsection; */
}

subsection sectiontitle {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 12pt;
}

subsection>sectiontitle:before {
  content: counter(chapter) "." counter(section) "." counter(subsection) ".  ";
}

subsection defaulttitletag:after {
  content: "Replace this subsection title";
  color: red;
}

subsubsection {
  display:block;
  counter-increment: subsubsection;
/*    counter-reset: paragraph; */
}

subsubsection sectiontitle {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 10pt;
  font-weight: bold;
}

subsubsection>sectiontitle:before {
  content: counter(chapter) "." counter(section) "." counter(subsection) "." counter(subsubsection) ".  ";
}

subsubsection defaulttitletag:after {
  content: "Replace this subsubsection title";
  color: red;
}

paragraph {
  display:block;
/*    counter-increment: paragraph;  */
}

paragraph sectiontitle {
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
}

paragraph>sectiontitle:before {
  content: "";
}

paragraph defaulttitletag:after {
  content: "Replace this subsubsubsection title";
  color: red;
}

subparagraph sectiontitle {
  margin-left: 10pt;
}

subparagraph>sectiontitle:before {
  content: "";
}

subparagraph defaulttitletag:after {
  content: "Replace this subsubsubsubsection title";
  color: red;
}

/*************************/
/* Front matter elements */
/*************************/

title {
  font-size: 200%;
  font-weight: bold;
  color: rgb(9, 62, 125);
  line-height: 20pt;
  display: block;
  margin-top: 12pt;
  text-align: center;
}

author {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 10pt;
  text-align: center;
}

address {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  text-align: center;
}

date {
  font-size: 100%;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 2pt;
  text-align: center;
}

button[class="frontmattertag"]{
  position: absolute;
  left: 5px;
}

button[class="msi"]{
  position: relative;
  left: 5px;
}

/**********************/
/* Main text elements */
/**********************/

frontmatter, mainmatter, backmatter, appendix {
  display: block;
  position: relative;
  margin-left: 0;
  padding: 10px 0;
  border: thin solid black;
  background-color: #E1EEFD;
  -moz-border-radius: 10px;
}

frontmatter:before {
  content: "frontmatter";
  display: block;
  text-align: left;
  font-size: 100%; font-weight: bold;
  color: rgb(9, 62, 125);
  -moz-user-select: text;
}

mainmatter:before {
  content: " mainmatter";
  display: block;
  text-align: left;
  font-size: 100%; font-weight: bold;
  color: rgb(9, 62, 125);
  -moz-user-select: text;
}

backmatter:before {
  content: "backmatter";
  display: block;
  text-align: left;
  font-size: 100%; font-weight: bold;
  color: rgb(9, 62, 125);
  -moz-user-select: text;
}

appendix:before {
  content: "appendix";
  display: block;
  text-align: left;
  font-size: 100%; font-weight: bold;
  color: rgb(9, 62, 125);
  -moz-user-select: text;
}

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: rgb(0,128,64);
}

shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

epigraph {
  display: block;
  color: white;
  background-color: black;
  margin-left: 20pt;
  margin-right: 20pt;
}
/*  */

centeredEnv, centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

/* Not in article.css (gp)
pre, verbatim {
  font-family: Courier; white-space: pre
}
*/

/***********************/
/* Tagged run elements */
/***********************/

emphasized {
  font-style: italic;
  color: rgb(9,62,125)
}

emphasized .inlineMath {
  color: rgb(255,0,255)
}

roman {
  font-family: Times New Roman, serif;
  color: rgb(0,0,255)
}

calligraphic {
  font-family: monotype corsiva;
  color: rgb(0,0,255)
}

bold {
  font-weight: 700
}

italics {
  font-style: italic
}

slanted {
  font-style: italic;
  font-weight: 700;
  color: rgb(9,62,125)
}

sansSerif {
  font-family: Arial;
  font-weight: 400;
  color: rgb(9,62,125)
}

smallCaps {
  font-variant: small-caps;
  color: rgb(0,0,0)
}

typewriter {
  font-family: Courier New;
  font-weight: 700
}

tiny {
  font-size: 50%
}

scriptsize {
  font-size: 67%
}

footnotesize {
  font-size: 75%
}

small {
  font-size: 83%
}

normalsize {
  font-size: 100%
}

large {
  font-size: 117%
}

Large {
  font-size: 133%
}

LARGE {
  font-size: 150%
}

huge {
  font-size: 167%
}

Huge {
  font-size: 183%
}

/*
theorem {
  display: block;
  font-style: italic;
  counter-increment: theorem;
}

theorem:before {
  content:  attr(type) " " counter(section) "."  counter(theorem) ". " ;
} */

/* Not in article.css (gp)
tabular {
  display: table
}

proof {
  display: block;
}

proof:before {
  content: "Proof. ";
}

tr {
  display: table-row
}

td {
  display: table-cell
}
*/

/***************/
/* Lists, etc. */
/***************/

/* Not in article.css (gp)
item {
  margin: 0 0 0 0;
  padding: 10pt 0 0 20pt;
  display: list-item
}
*/

/* Not in article.css (gp)
item:before {
  content: counters(item, ".") ":  ";
  counter-increment: item;
}
*/

/* Not in article.css (gp)
enumerate {
  counter-reset: item;
}
*/

/* Not in article.css (gp)
description {
  counter-reset: item;
}
*/

/* Not in article.css (gp)
itemize {
  list-style: disc;
  counter-reset: item;
}
*/

/***************/
/* Other stuff */
/***************/

img {
  display: inline;
}

