@namespace mml url("http://www.w3.org/1998/Math/MathML");
@namespace sw url("http://www.sciword.com/namespaces/sciword");

latex {
  font-family: Times, "Times New Roman", serif;	
  letter-spacing: 1px;
}

latex sup {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}


latex sub {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}

hspace {
/*  -moz-binding: url("chrome://prince/content/bindings/latex.xml#hspace"); */
  display: inline-block;
}

hspace * {
  visibility: hidden;
}

*[showinvis="true"] hspace {
  visibility: visible;
  color: green;
  border-bottom: thin solid;
}

hspace[type="emSpace"] {
  min-width: 1em;
}

hspace[type="twoEmSpace"] {
  min-width: 2em;
}

hspace[type="thinSpace"] {
  min-width: 0.17em;
}

hspace[type="thickSpace"] {
  min-width: 0.5em;
}

hspace[type="italicCorrectionSpace"] {
  min-width: 0.083em;
}

hspace[type="requiredSpace"] {
  display: inline;
}

hspace[type="nonBreakingSpace"] {
  display: inline;
  white-space: nowrap;
}

/*
hspace[type="negativeThinSpace"] {
  min-width: 0.0em;
}

hspace[type="zeroSpace"] {
  min-width: 0.0em;
}

hspace[type="noIndent"] {
  min-width: 0.0em;
} */

vspace {
/*  -moz-binding: url("chrome://prince/content/bindings/latex.xml#vspace"); */
  display: inline-block;
	max-width: 2px;
/*  overflow: hidden;  */
  max-width: 1px;
  white-space: pre;
/*  position: relative;  */
}

vspace[type="smallSkip"] {
  height: 3pt;
	vertical-align: -3pt;
}

vspace[type="mediumSkip"] {
  height: 6pt;
	vertical-align: -6pt;
}

vspace[type="bigSkip"] {
  height: 12pt;
	vertical-align: -12pt;
}

vpsace[type="strut"] {
  line-height: 100%;
}

vspace[type="mathStrut"] {
  line-height: 100%;
}

vspace[type="customSpace"] {
  vertical-align: -100%;
}


*[showinvis="true"] vspace {
  border-left: thin solid green;
}

msirule {
/*  -moz-binding: url("chrome://prince/content/bindings/latex.xml#msirule"); */
  display: inline-block;
}

msibreak {
/*  -moz-binding: url("chrome://prince/content/bindings/latex.xml#msibreak"); */
}

msibreak[type="customNewLine"]:after {
  white-space: pre;
  content: "\A";
}

msibreak[type="customNewLine"] custNL {
	display: inline-block;
	width: 1px;
}

*[showinvis="true"] msibreak {
	width: 3px;
	border-right: 1px solid green;
	border-bottom: 1px solid green;
}

*[showinvis="true"] msibreak[type="customNewLine"] {
  width:0px;
  border-right: none;
  border-bottom: none;
}

*[showinvis="true"] msibreak[type="customNewLine"] custNL {
	width: 3px;
	border-right: 1px solid green;
	border-bottom: 1px solid green;
}

mml|math msibreak {
/*  -moz-binding: url("chrome://prince/content/bindings/latex.xml#mathmsibreak"); */
}

msibreak[type="newPage"]:after {
  white-space: pre;
  content: "\A";
}

newPageRule {
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: auto;
	height: 1px;
	width: 100%;
	border-bottom: 2px dashed green;
}

/* invis {
  display: none;
}

*[showinvis="true"] sw|invis {
  display: inline;
}  */

otfont {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#otfont");
}

fontsize {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#fontsize");
}

fontcolor {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#fontcolor");
}


img {
  -moz-force-broken-image-icon: 1;
  min-height: 6px; min-width: 6px;
}


graph {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#graph");
}

graph {
  display: -moz-box;  
  cursor: pointer;
  -moz-box-orient: vertical;
}

plotwrapper {
  display: -moz-stack;
  -moz-user-select: all;
  -moz-user-focus: normal;
  padding: 10px;
  cursor: pointer;
}

plotcaption {
  display: block;
  text-align: center;
  -moz-box-flex: 1;
  min-height: 20px;
}


* [msiunit="true"] { color: green; }
* [msimathname="true"] {color: gray; }


mml|mi[tempinput="true"]::before {  content: "[";}
mml|mi[tempinput="true"]::after {  content: "]";}
mml|mi[tempinput="true"]{
  letter-spacing: 0; /*-0.015em;*/
}

#rotateleft{
  list-style-image: url("chrome://prince/skin/icons/vc-rotateleft.png");
}

mml|mrow[id] {
  position: fixed;  
  top: auto; 
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;

}
mml|mrow[id]:after {
  content: "[#" attr(id) "]" ;
  position: fixed;  
  top: auto; 
  right: 0em;
  margin-right: 0em;
  z-index: 1;
  left: auto; 
  color: black;
  background-color:rgb(180,180,180);

}

 
.collapsible {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#collapsible");
}
 
/* The following is a generic set of rules to control opening and closing
   sections. They are repeated for each structure than can be closed. Also
   implement the switch between numbered and not numbered*/

 
chapter>sectiontitle {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#collapsible");
}
 
/* Keep counters from incrementing on unnumbered structures */

chapter[nonum="true"] {
  counter-increment: none;
}

/* Suppress	title for nonnumbered sections */
chapter[nonum="true"]>sectiontitle:before {
  content: "";
}
																 
chapter[open="false"]>* {
  display: none;
}

chapter[open="false"]>sectiontitle {
  display: block;
}

chapter[open='false']>button.expander {
  display: inline;
}

section>sectiontitle {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#collapsible");
}

section[nonum="true"] {
  counter-increment: none;
}


section[nonum="true"]>sectiontitle:before {
  content: "";
}

section[open="false"]>* {
  display: none;
}


section[open="false"]>sectiontitle {
  display: block;
}

section[open="false"]>button.expander {
  display: inline;
}

subsection[nonum="true"] {
  counter-increment: none;
}

subsection[nonum="true"]>sectiontitle:before {
  content: "";
}

subsubsection[nonum="true"] {
  counter-increment: none;
}

subsubsection[nonum="true"] {
  content: "";
}


paragraph[nonum="true"] {
  counter-increment: none;
}

paragraph[nonum="true"] {
  content: "";
}

*[class="showinvis"] sectiontitle:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
}


*[class="showinvis"] p:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
}


*[class="showinvis"] para:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
}

*[class="showinvis"] mathp:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
}


*[class="showinvis"] title:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
}


*[class="showinvis"] quote:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
}


frontmatter {
  display: block;
  border: thin solid black; 
  background-color: #EEDDCC;
}

*[showinvis="true"] frontmatter:before {
  content: "Front Matter";
  display: block;
  font-size: medium; font-weight: bold;
  color: green;
}


preface {
  display: block;
  margin-top: 30pt;
  border: thin solid black; 
  background-color: #CC6666;
  -moz-border-radius: 20px;
}


*[showinvis="true"] preface:before {
  content: "Preface";
  display: block;
  font-size: medium; font-weight: bold;
  color: green;
}

/* front matter tags */
frontmatter>address {
  display:block;
  text-align: left;
}

frontmatter>address:before {
  display: inline-block;
  font-family: sans-serif;
  width: 10em;
  content: "Address:";
  -moz-user-modify: read-only;
}			 


frontmatter>author {
  display:block;
  text-align: left;
}

frontmatter>author:before {
  display: inline-block;
  font-family: sans-serif;
  width: 10em;
  content: "Author:";
}			 

frontmatter>date {
  display:block;
  text-align: left;
}

frontmatter>date:before {
  display: inline-block;
  font-family: sans-serif;
  width: 10em;
  content: "Date:";
}			 


frontmatter>title {
  display:block;
  text-align: left;
}

frontmatter>title:before {
  display: inline-block;
  font-family: sans-serif;
  width: 10em;
  content: "Title:";
}			 

frontmatter>maketoc {
  display:block;
  text-align: left;
}

frontmatter>maketoc:before {
  display: inline-block;
  font-family: sans-serif;
  width: 10em;
  content: "Table of contents here:";
}			 

frontmatter>makelof {
  display:block;
  text-align: left;
}

frontmatter>makelof:before {
  display: inline-block;
  font-family: sans-serif;
  width: 10em;
  content: "List of figures here:";
}			 

frontmatter>makelot {
  display:block;
  text-align: left;
}

frontmatter>makelot:before {
  display: inline-block;
  font-family: sans-serif;
  width: 10em;
  content: "List of tables here:";
}			 

frontmatter>maketitle {
  display:block;
  text-align: left;
}

frontmatter>maketitle:before {
  display: inline-block;
  font-family: sans-serif;
  width: 10em;
  content: "Make title page here:";
}			 

msidisplay {
  -moz-binding: url("chrome://prince/content/bindings/latex.xml#msidisplay");
  position: relative;
  display: block;
}