@namespace mml url("http://www.w3.org/1998/Math/MathML");

latex {
  -moz-binding: url("resource://app/res/xbl/latex.xml#latex");
}

tex {
  -moz-binding: url("resource://app/res/xbl/latex.xml#tex");
}

hspace {
  -moz-binding: url("resource://app/res/xbl/latex.xml#hspace");
}

vspace {
  -moz-binding: url("resource://app/res/xbl/latex.xml#vspace");
}

msirule {
  -moz-binding: url("resource://app/res/xbl/latex.xml#msirule");
}

msibreak {
  -moz-binding: url("resource://app/res/xbl/latex.xml#msibreak");
}

mml|math msibreak {
  -moz-binding: url("resource://app/res/xbl/latex.xml#mathmsibreak");
}

invis {
  display: none;
}

otfont {
  -moz-binding: url("resource://app/res/xbl/latex.xml#otfont");
}

fontsize {
  -moz-binding: url("resource://app/res/xbl/latex.xml#fontsize");
}

fontcolor {
  -moz-binding: url("resource://app/res/xbl/latex.xml#fontcolor");
}


img {
  -moz-force-broken-image-icon: 1;
  min-height: 17px; min-width: 70px;
}


graph {
  -moz-binding: url("resource://app/res/xbl/latex.xml#graph");
}

graph {
  display: -moz-box;  
  cursor: pointer;
  -moz-box-orient: vertical;
}

plotwrapper {
  display: -moz-stack;
  -moz-user-select: all;
  -moz-user-focus: normal;
  padding: 10px;
  cursor: pointer;
}

plotcaption {
  display: block;
  text-align: center;
  -moz-box-flex: 1;
  min-height: 20px;
}


* [msiunit="true"] { color: green; }
* [msimathname="true"] {color: gray; }


mml|mi[tempinput="true"]::before {
  content: "["; /*url("resource://app/res/css/lefttempinput.png"); */
}
mml|mi[tempinput="true"]::after {
  content: "]"; /*url("resource://app/res/css/righttempinput.png");*/
}
mml|mi[tempinput="true"]{
  /* -moz-math-font-style: normal !important;   */
  letter-spacing: -0.04em;
}

#rotateleft{
  list-style-image: url("chrome://prince/skin/icons/vc-rotateleft.png");
}
