@namespace sw url("http://www.sciword.com/namespaces/sciword");

sw|invis {
  display: none;
}

sw|texbdata {
  display: none;
}

sw|button [class="texbutton"] {
  -moz-appearance: button;
  margin: 0px 5px 0px 5px;
  min-width: 6.3em;
  border: 3px solid;
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
  -moz-user-select: none;
}


sw|space {
/*  display: -moz-inline-box;  */
  display: inline-block;
  vertical-align: baseline;
}
  
*[showinvis="true"] sw|space {
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: green;
}

*[showinvis="true"] sw|invis {
  display: inline;
}

*[showinvis="true"] sw|space[type="noIndent"] {
  display: none;
}

*[showinvis="true"] sw|space[type="noIndent"]:after {
  content: "\002190";
  color: green;
}

sw|linebox {
  display: -moz-inline-box;
  width: 100%;
}

/*
sw|space.stretchySpace[fillWith="line"] {
  border-bottom: thin solid;  Note that omitting the border-color causes the text color to be used (per CSS 2.1 specification)
}

sw|space.stretchySpace[fillWith="dots"] {
  border-bottom: thin dotted;
}

*[showinvis="true"] sw|space.stretchySpace {
  border-bottom-color: green;
}
*/

/*  Display values: "inline-block", "inline-table" produces parsing error. "-moz-inline-box", "inline" ignore width and padding.
      "-moz-inline-block" breaks line, also ignores width and padding. 
    Solution used is derived from Bugzilla comment at "https://bugzilla.mozilla.org/show_bug.cgi?id=9458#c37", and is
    partially embedded in the XBL in latex.xml#vspace. */
sw|vertspace {
  display: -moz-inline-box;
  vertical-align: baseline;
  overflow: hidden;
  max-width: 1px;
  white-space: pre;
}
  
span.vertspace, span.breakvspace {
  display: block;
}

*[showinvis="true"] span.vertspace {
  border-left: thin solid green;
}

sw|rulebox {
  display: -moz-inline-box;
  /*vertical-align: baseline;*/
  position: relative;
  overflow: hidden;
  white-space: pre;
}

span.msirule {
  display: block;
  overflow: hidden;
}

msibreak {
  display: inline;
  white-space: pre;
}

sw|breakobj {
  display: inline;
  white-space: pre;
}

*[showinvis="true"] sw|breakobj:before {
  color: green;
  content: attr(invisDisplay);
}

span {
  display: inline;
}

