latex {
  -moz-binding: url("resource://app/res/xbl/latex.xml#latex");
}

tex {
  -moz-binding: url("resource://app/res/xbl/latex.xml#tex");
}

hspace {
  -moz-binding: url("resource://app/res/xbl/latex.xml#hspace");
}

invis {
  display: none;
}


img {
  -moz-force-broken-image-icon: 1;
  min-height: 17px; min-width: 70px;
}


graphSpec {
  display: none;
}

* [msiunit="true"] { color: green; }
* [msimathname="true"] {color: gray; }