
math {
  direction: ltr;
}

part {
  display: block;
  counter-increment: part;
}

part sectiontitle {
  display: block;
  font-size: x-large;
  font-weight: bold;
}

part>sectiontitle:before {
  content: "Part " counter(part,upper-roman);
  display: block;
  font-size: large;
  font-weight: bold;
}

chapter {
  display: block;
/*  counter-increment: chapter;
  counter-reset: subchapter;
  counter-reset: theorem; */
}  

chapter sectiontitle {
  display: block;
  margin: 10pt 10pt 0pt 0pt;
  margin-left: 10pt;
  font-size: 14pt;
  font-weight: bold;
}

section {
  display: block;
/*    counter-increment: section;
  counter-reset: subsection;
  counter-reset: theorem; */
}  

section sectiontitle {
  display: block;
  margin: 10pt 10pt 0pt 0pt;
  margin-left: 10pt;
  font-size: large;
  font-weight: bold;
}

/*
section>sectiontitle:before {
  content: counter(section) ".  ";
}
*/

subsection{
  display: block;
/*    counter-increment: subsection;
    counter-reset: subsubsection; */
}

subsection sectiontitle {
  display: block;
  margin: 10pt 10pt 0pt 0pt;
  margin-left: 10pt;
  font-size: large;
}

/*
subsection>sectiontitle:before {
  content: counter(section) "." counter(subsection) ".  ";
}
*/

subsubsection {
  display:block;
/*    counter-increment: subsubsection;
    counter-reset: paragraph; */
}

subsubsection sectiontitle {
  display: block;
  margin: 10pt 10pt 0pt 0pt;
  margin-left: 10pt;
  font-size: medium;
  font-weight: bold;
}

/*
subsubsection>sectiontitle:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) ".  ";
}
*/

paragraph {
  display:block;
/*    counter-increment: paragraph;  */
}

paragraph sectiontitle {
  font-size: medium;
  font-weight: normal;
  font-style: italic;
}

/*  
paragraph>sectiontitle:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) ".  "; 
}
*/

abstract {
  display: block;
  margin-top: 30pt;
  margin-left: 50pt;
  margin-right: 50pt;
  padding-left: 15pt;
  padding-right: 15pt;
  font-size: small;
  border: thin solid black; 
  background-color: #DDBC9B;
  -moz-border-radius: 20px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: medium; font-weight: bold;
  -moz-user-select: -moz-none;
}

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

mathp {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  color: rgb(0,128,64);
}

preprint {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-preprint");
  -moz-user-select: text;
}

volumeyear {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-volumeyear");
  -moz-user-select: text;
}

volumenumber {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-volumenumber");
  -moz-user-select: text;
}

issuenumber {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-issuenumber");
  -moz-user-select: text;
}

eid {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-eid");
  -moz-user-select: text;
}

startpage {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-startpage");
  -moz-user-select: text;
}

endpage {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-endpage");
  -moz-user-select: text;
}

received {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-received");
  -moz-user-select: text;
}

revised {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-revised");
  -moz-user-select: text;
}

accepted {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-accepted");
  -moz-user-select: text;
}

published {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-published");
  -moz-user-select: text;
}

title {
  font-size: x-large;
  display: block;
  margin-top: 12pt;
  text-align: center;
}

author {
  font-weight: normal;
  display: block;
  padding-top: 10pt;
  text-align: center;
}

affiliation {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-affiliation");
  -moz-user-select: text;
}

altaffiliation {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-altaffiliation");
  -moz-user-select: text;
}

collaboration {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-collaboration");
  -moz-user-select: text;
}

noaffiliation { /* use maketitle from latex.css as the example (gp) */
  -moz-user-select: text;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-noaffiliation");
  -moz-user-select: text;
}

address {
  display: block;
  text-align: center;
}

email {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-email");
  -moz-user-select: text;
}

homepage {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-homepage");
  -moz-user-select: text;
}

pacs {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-pacs");
  -moz-user-select: text;
}

keywords {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-keywords");
  -moz-user-select: text;
}

date {
  font-weight: normal;
  display: block;
  padding-top: 2pt;
  text-align: center;
}

/* Not in article.css (gp)
pre, verbatim {
  font-family: Courier; white-space: pre
}
*/
  
/* Not in article.css (gp)
item {
  margin: 0pt 0pt 0pt 0pt; 
  padding: 10pt 0pt 0pt 20pt; 
  display: list-item
}
*/

/* Not in article.css (gp)
item:before {
  content: counters(item, ".") ":  ";
  counter-increment: item;
}
*/
   
/* Not in article.css (gp)
enumerate {
  counter-reset: item;
}
*/

/* Not in article.css (gp)
description {
  counter-reset: item;
}
*/

/* Not in article.css (gp)
itemize {
  list-style: disc; 
  counter-reset: item;
}
*/

/* Not in article.css (gp)
img {
  display: inline; 
  margin: 2em
} 
*/

quote {
  display: block; 
  margin-left: 20pt;
  margin-right: 20pt;
}

quotation {
  display: block; 
  margin-left: 20pt;
  margin-right: 20pt;
}

center {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

em {
  font-style: italic;
  color: rgb(9,62,125)
}

em span.inlineMath {
  color: rgb(255,0,255)
}

rm {
  font-family: Times New Roman, serif;
  color: rgb(0,0,255)
}

cal{
  font-family: monotype corsiva;
  color: rgb(0,0,255)
}

bold {
  font-weight: 700
}

bbold {
  font-weight: 700
}

it {
  font-style: italic
}

sl {
  font-style: italic;
  font-weight: 700;
  color: rgb(9,62,125)
}

sf {
  font-family: Arial;
  font-weight: 400;
  color: rgb(9,62,125)
}

sc {
  font-variant: small-caps;
  color: rgb(0,0,0)
}

tt {
  font-family: Courier New;
  font-weight: 700
}

tiny {
  font-size: 50%
}

scriptsize {
  font-size: 67%
}

footnotesize {
  font-size: 75%
}

small {
  font-size: 83%
}

normalsize {
  font-size: 100%
}

large {
  font-size: 117%
}

Large {
  font-size: 133%
}

LARGE {
  font-size: 150%
}

huge {
  font-size: 167%
}

Huge {
  font-size: 183%
}

theorem {
  display: block;
  font-style: italic;
/*  counter-increment: theorem; */
}
/*
theorem:before {
  content:  attr(type) " " counter(section) "."  counter(theorem) ". " ;
} */

/* Not in article.css (gp)
tabular {
  display: table
}

proof {
  display: block;
}

proof:before {
  content: "Proof. ";
}

tr {
  display: table-row
}

td {
  display: table-cell
}
*/

section defaulttitletag:after {
  content: "Replace this section title"; 
  color: red;
}

subsection defaulttitletag:after {
  content: "Replace this subsection title"; 
  color: red;
}

subsubsection defaulttitletag:after {
  content: "Replace this subsubsection title"; 
  color: red;
}

paragraph defaulttitletag:after {
  content: "Replace this subsubsubsection title"; 
  color: red;
}

subparagraph defaulttitletag:after {
  content: "Replace this subsubsubsubsection title"; 
  color: red;
}

