
/* revtex4-1.css */

/************************/
/* Division header tags */
/************************/

part {
  display: block;
  counter-increment: part;
}
part>sectiontitle:first-child {
  display: block;
  font-size: 200%;
  font-weight: bold;
  color: rgb(9, 62, 125);
  text-align:center;
}

part>sectiontitle:first-child:before {
  content: "Part " counter(part,upper-roman);
  display: block;
  font-size: large;
  font-weight: bold;
  margin-bottom: 5pt;
  -moz-user-select: -moz-none;
}

/* There are no chapters in articles, so comment out this group (gp)
chapter {
  display: block;
  position: relative;
  counter-increment: chapter;
  counter-reset: section theorem;
}

chapter>sectiontitle{
  font-size: large;
  font-weight: bold;
  line-height: 24pt;
  text-align: center;
}

chapter>sectiontitle:before, chapter[open="true"]>sectiontitle:before  {
  content: "Chapter " counter(chapter,upper-roman) " ";
  display: block;
  margin-left: .2in;
  font-size: large;
  font-weight: bold;
  line-height: 24pt;
  text-align: center;
  -moz-user-select: -moz-none;
}

chapter[open="false"]>sectiontitle:before{
  content: "Chapter " counter(chapter) "  ";
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
  display: block;
  -moz-user-select: -moz-none;
}
*/

section {
  display: block;
  counter-increment: section;
  counter-reset: subsection theorem eqnnumber subeqnnumber;
  position: relative;
  top: 0;
  left: 0;
}

section>sectiontitle:first-child{
  display: block;
  margin: 10pt 0 0 0;
  font-size: 175%;
  font-weight: bold;
  color: rgb(9, 62, 125);
}

section>sectiontitle:first-child[open="false"]{
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: 175%;
  font-weight: bold;
}

section>sectiontitle:first-child:before, section[open="true"]>sectiontitle:first-child:before  {
  content: counter(section) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

section[nonum="true"]>sectiontitle:first-child:before, section[nonum="true"][open="true"]>sectiontitle:first-child:before  {
  content: "";
  -moz-user-modify: read-only;
}


section>sectiontitle:first-child[open="false"], section>sectiontitle[open="false"] {
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: large;
  font-weight: bold;
}

section>sectiontitle{
  display: block;
  margin: 10pt 10pt 0 0;
  margin-left: 10pt;
  font-size: large;
  font-weight: bold;
}

/* Was in revtex4-1.css, but not in article.css.  Commenting out for now (gp)
section defaulttitletag:after {
  content: "Replace this section title"; 
  color: red;
}

subsection defaulttitletag:after {
  content: "Replace this subsection title"; 
  color: red;
}

subsubsection defaulttitletag:after {
  content: "Replace this subsubsection title"; 
  color: red;
}

paragraph defaulttitletag:after {
  content: "Replace this subsubsubsection title"; 
  color: red;
}

subparagraph defaulttitletag:after {
  content: "Replace this subsubsubsubsection title"; 
  color: red;
}
*/

subsection {
  display: block;
  counter-increment: subsection;
  counter-reset: subsubsection;
}

subsection>sectiontitle:first-child {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 150%;
  font-weight: bold;
  color: rgb(9, 62, 125);
}

subsection>sectiontitle:first-child:before {
  content: counter(section) "." counter(subsection) ".  ";
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

subsection[nonum="true"]>sectiontitle:first-child:before {
  content: "";
}


subsubsection {
  display:block;
  counter-increment: subsubsection;
  counter-reset: paragraph;
}

subsubsection>sectiontitle:first-child {
  display: block;
  margin: 10pt 0 0 0;
  font-size: 120%;
  font-weight: bold;
  color: rgb(9, 62, 125);
}

subsubsection>sectiontitle:first-child:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) ".  ";
  -moz-user-select: -moz-none;
}
subsubsection[nonum="true"]>sectiontitle:first-child:before {
  content: "";
  -moz-user-select: -moz-none;
}


subsubsection defaulttitletag:after {
  content: "Replace this subsubsection title";
  color: gray;
}

paragraph {
  display:block;
  counter-increment: paragraph;
}

paragraph>sectiontitle:first-child {
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  color: rgb(9, 62, 125);
}

paragraph>sectiontitle:first-child:before {
  content: counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(paragraph) ".  ";
  -moz-user-select: -moz-none;
}

paragraph[nonum="true"]>sectiontitle:first-child:before {
  content: "";
  -moz-user-select: -moz-none;
}

subparagraph {
  display: block;	/* Should be a run-in header, but someone esle will have to figure out how to do that.  Instead, use Version 5.5 behavior. */
  counter-increment: subparagraph;
}

subparagraph>sectiontitle:first-child {
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  color: rgb(9, 62, 125);
  margin-left: 10pt;
}

/*************************/
/* Front matter elements */
/*************************/

title {
  font-size: x-large;
  display: block;
  margin-top: 12pt;
  text-align: center;
}

author {
  font-weight: normal;
  display: block;
  padding-top: 10pt;
  text-align: center;
}

address {
  display: block;
  text-align: center;
}

date {
  font-weight: normal;
  display: block;
  padding-top: 2pt;
  text-align: center;
}

abstract {
  display: block;
  margin-top: 30pt;
  margin-left: 50pt;
  margin-right: 50pt;
  padding-left: 15pt;
  padding-right: 15pt;
  font-size: small;
  border: thin solid black; 
  background-color: #DDBC9B;
  -moz-border-radius: 20px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: medium; font-weight: bold;
  -moz-user-select: -moz-none;
}

preprint {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-preprint");
  -moz-user-select: text;
}

volumeyear {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-volumeyear");
  -moz-user-select: text;
}

volumenumber {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-volumenumber");
  -moz-user-select: text;
}

issuenumber {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-issuenumber");
  -moz-user-select: text;
}

eid {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-eid");
  -moz-user-select: text;
}

startpage {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-startpage");
  -moz-user-select: text;
}

endpage {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-endpage");
  -moz-user-select: text;
}

received {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-received");
  -moz-user-select: text;
}

revised {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-revised");
  -moz-user-select: text;
}

accepted {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-accepted");
  -moz-user-select: text;
}

published {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-published");
  -moz-user-select: text;
}

affiliation {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-affiliation");
  -moz-user-select: text;
}

altaffiliation {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-altaffiliation");
  -moz-user-select: text;
}

collaboration {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-collaboration");
  -moz-user-select: text;
}

noaffiliation { /* use maketitle from latex.css as the example (gp) */
  -moz-user-select: text;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-noaffiliation");
  -moz-user-select: text;
}

email {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-email");
  -moz-user-select: text;
}

homepage {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-homepage");
  -moz-user-select: text;
}

pacs {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-pacs");
  -moz-user-select: text;
}

keywords {
  font-weight: normal;
  display: block;
  text-align: center;
  -moz-binding: url("chrome://prince/content/bindings/revtex.xml#fmtag-keywords");
  -moz-user-select: text;
}

/**********************/
/* Main text elements */
/**********************/

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

math {
  direction: ltr;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

rtlBodyText {
  display: block;
  direction: rtl;
  unicode-bidi: bidi-override;
  margin: 10pt 10pt 5pt 5pt;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: rgb(0,128,64);
}

quote, shortQuote {
  display: block; 
  margin-left: 20pt;
  margin-right: 20pt;
}

quotation, longQuotation {
  display: block; 
  margin-left: 20pt;
  margin-right: 20pt;
}

centeredEnv, centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

pre, verbatim {
  font-family: Courier; white-space: pre
}

/***************/
/* Lists, etc. */
/***************/

theorem {
  display: block;
  font-style: italic;
  counter-increment: theorem;
}

theorem:before {
  content:  "Theorem " counter(section) "."  counter(theorem) ". " ;
  -moz-user-select: -moz-none;
}

proof {
  display: block;
}

proof:before {
  content: "Proof. ";
}


/***************/
/* Text tags   */
/***************/

em {
  font-style: italic;
  color: rgb(9,62,125)
}

em span.inlineMath {
  color: rgb(255,0,255)
}

rm {
  font-family: Times New Roman, serif;
  color: rgb(0,0,255)
}

cal{
  font-family: monotype corsiva;
  color: rgb(0,0,255)
}

bold {
  font-weight: 700
}

bbold {
  font-weight: 700
}

it {
  font-style: italic
}

sl {
  font-style: italic;
  font-weight: 700;
  color: rgb(9,62,125)
}

sf {
  font-family: Arial;
  font-weight: 400;
  color: rgb(9,62,125)
}

sc {
  font-variant: small-caps;
  color: rgb(0,0,0)
}

tt {
  font-family: Courier New;
  font-weight: 700
}

tiny {
  font-size: 50%
}

scriptsize {
  font-size: 67%
}

footnotesize {
  font-size: 75%
}

small {
  font-size: 83%
}

normalsize {
  font-size: 100%
}

large {
  font-size: 117%
}

Large {
  font-size: 133%
}

LARGE {
  font-size: 150%
}

huge {
  font-size: 167%
}

Huge {
  font-size: 183%
}

