/* ulem.css */

uline {
  text-decoration:underline;
}

uuline {
  border-bottom: 3px double;
  line-height: 1.7em;
}

uwave {
  color: green;
  background: url(resource://app/res/css/ulem-wavy.png) bottom repeat-x;
}

sout {
  text-decoration:line-through;
}

xout {
  text-decoration:line-through;
  color:red;
}

/* End of ulem.css */
