/* Error: expected "{".
 *    ,
 * 98 | This scheme allows for different colors for the various tag classes, but it also allows for much more variation in appearance, if that is desired.
 *    |                                                                                                                                                   ^
 *    '
 *   scss\tagtemplate.scss 98:147  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 98 \2502  This scheme allows for different colors for the various tag classes, but it also allows for much more variation in appearance, if that is desired.\a    \2502                                                                                                                                                    ^\a    \2575 \a   scss\\tagtemplate.scss 98:147  root stylesheet';
}
