dropmarker {
  -moz-appearance: menulist-button;
  cursor: pointer;
  width: 16px;
  height: 16px;
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 2px solid;
  -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
  background-color: -moz-Dialog;
  padding: 1px;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  -moz-image-region: auto;
}

dropmarker:hover:active {
  -moz-border-top-colors: ThreeDShadow ThreeDFace;
  -moz-border-right-colors: ThreeDShadow ThreeDFace;
  -moz-border-bottom-colors: ThreeDShadow ThreeDFace;
  -moz-border-left-colors: ThreeDShadow ThreeDFace;
  padding-top: 2px;
  padding-bottom: 0px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

toolbar dropmarker:hover:active {
  list-style-image: url("chrome://prince/skin/icons/dropmarker-active.png");	 
  padding: 0px;
  border: none;
}

dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
  -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight !important;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow !important;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow !important;
  -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight !important;
  padding: 1px !important;
}

toolbar dropmarker {
  list-style-image: url("chrome://prince/skin/icons/dropmarker.png");	 
  -moz-appearance: none;
  border: none;
  padding: 0px;	 
  width: 7px;
  height: 30px;	
}

toolbar[iconsize="small"] dropmarker {
  list-style-image: url("chrome://prince/skin/icons/dropmarker-sm.png");	 
  height: 25px;
}

toolbar dropmarker:hover {
  list-style-image: url("chrome://prince/skin/icons/dropmarker-hover.png");	 
  -moz-appearance: none;
  border: none;
  padding: 0px;
}

toolbar[iconsize="small"] dropmarker:hover {
  list-style-image: url("chrome://prince/skin/icons/dropmarker-hover-sm.png");	 
}

toolbar dropmarker:active {
  list-style-image: url("chrome://prince/skin/icons/dropmarker-active.png");	 
  -moz-appearance: none;
  border: none;
  padding: 0px;	 
}

toolbar[iconsize="small"] dropmarker:active {
  list-style-image: url("chrome://prince/skin/icons/dropmarker-active-sm.png");	 
}

toolbar dropmarker[disabled="true"] {
  list-style-image: url("chrome://prince/skin/icons/dropmarker.png");	 
  -moz-appearance: none;
  border: none;
  padding: 0px;	 
}

toolbar[iconsize="small"] dropmarker[disabled="true"] {
  list-style-image: url("chrome://prince/skin/icons/dropmarker-sm.png");	 
}


toolbarbutton *.toolbarbutton-menubutton-dropmarker {
  list-style-image: url(chrome://prince/skin/icons/dropmarkertb.png);
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0;
  width: auto;
}

*.toolbarbutton-menubutton-dropmarker:hover {
  list-style-image: url(chrome://prince/skin/icons/dropmarkertb-hover.png);
}

*.toolbarbutton-menubutton-dropmarker:active {
  list-style-image: url(chrome://prince/skin/icons/dropmarkertb-active.png);
}


toolbar[iconsize="small"] toolbarbutton *.toolbarbutton-menubutton-dropmarker {
  list-style-image: url(chrome://prince/skin/icons/dropmarkertb-sm.png);
}

toolbar[iconsize="small"] *.toolbarbutton-menubutton-dropmarker:hover {
  list-style-image: url(chrome://prince/skin/icons/dropmarkertb-hover-sm.png);
}

toolbar[iconsize="small"] *.toolbarbutton-menubutton-dropmarker:active {
  list-style-image: url(chrome://prince/skin/icons/dropmarkertb-active-sm.png);
}

toolbarbutton[disabled="true"] *.toolbarbutton-menubutton-dropmarker[disabled="true"] {
  padding: 0 !important;
}

