@import "library";

button[group] {
  max-width: 1.5em;
/*   background-color: -moz-Dialog; */
}

#BinomialPreview {
  min-width: 4em;
  min-height: 3em;
  padding: .5em 0em .6em 2em;
  font-size: 200%;
/*  border: 3px inset; */
}
    
#binomialDelimiters{ 
  #msiDialog > .disabled-is-hidden;
}

#BinomialDlg {
  #msiDialog;
  .rounded-corners(10px);
}

