*.sizeSelector label {
  width: 2em;
  margin: 0px ! important;
}

*.sizeSelector label:hover, *.sizeSelector label.selected {
  background-color: rgb(10,36,106) ! important;
}

*.sizeSelector label {
  border: 2px ridge !important;
}

#widthPixelOrPercentMenulist {
  min-width: 10em;
}
