/* */

#toctoolbar > menuitem {
  -moz-binding:	url(chrome://global/content/bindings/menu.xml#menuitem);
/*  -moz-appearance: menuitem; */
  -moz-box-align: center;
  padding: 0px  3px;				
  -moz-padding-end: 3px;
  -moz-padding-start: 3px;
  color: MenuText;
  font-size: 11px;
  height: 15px;
  text-align: start;
  list-style-image: none;
  -moz-image-region: auto;
}

#toctoolbar>menuitem[checked="true"]{
  color: red;
}

#toctoolbar > menuitem[_moz-menuactive="true"][open="true"] {
  border-width: 3px 1px 1px 3px;
}
#toctoolbar > menuitem[_moz-menuactive="true"],
#toctoolbar > menuitem[_moz-menuactive="true"][open="true"] {
  /* background-color: -moz-menuhover; */
  color: black; /* -moz-menubarhovertext;  */
}
