latex {
  -moz-binding: url("resource://xbl/latex.xml#latex");
}

tex {
  -moz-binding: url("resource://xbl/latex.xml#tex");
}

texb { 
  -moz-binding: url("resource://xbl/latex.xml#texb");
  -moz-appearance: button;
  margin: 1px 5px 2px 5px;
  min-width: 6.3em;
  border: 3px solid;
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
}