/********** Tab widget *********/
/*******************************/
/* This Mac-specific CSS styles tabs that are located on the top of their content,
 * as Macintosh tabs generally are.  An example of using bottom tab images can be 
 * found in EditorToolbar.css in classic/editor/.
 *******************************/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*** TAB: TOP <tab> ***/

tab {
  -moz-appearance: tab;
  margin-top: 2px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  border-bottom: 1px solid ThreeDHighlight;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 1px;
  padding: 1px 4px 2px 4px;
  background-image: url("chrome://prince/skin/icons/symbol-tab-background.png");
  background-repeat: repeat-x;
  background-position: bottom;
  color: -moz-DialogText;
}

tab[chromedir="rtl"] {
  -moz-border-radius-bottomleft: 1px;
  -moz-border-radius-bottomright: 0px;
}

.tab-text {
  margin: 0 !important;
}

tab[selected="true"] {
  -moz-user-focus: normal;
  margin-top: 0;
  border-bottom-color: transparent;
  padding: 1px 6px 4px 6px;
}

tab:focus > .tab-middle {
  /* Don't specify the outline-color, we should always use initial value. */
  outline: 1px dotted;
}

tab[beforeselected="true"],
tab[afterselected="true"][chromedir="rtl"] {
  -moz-appearance: tab-left-edge;
  border-right: none;
  -moz-border-radius-topright: 0;
}

tab[afterselected="true"],
tab[beforeselected="true"][chromedir="rtl"] {
  -moz-appearance: tab-right-edge;
  border-left: none;
  -moz-border-radius-topleft: 0;
}

tab[first-tab="true"][selected="true"] {
  padding-right: 5px;
  padding-left: 5px;
}
/*** TAB: BOTTOM <tab class="tab-bottom"> ***/
/* Found in editor.xul & editorOverlay.xul 
 * SMALL TABS FOR NOW */

.tab-bottom {
  margin-bottom: 2px;
  margin-top: 2px;
  -moz-box-align: center;
}

.tab-bottom > .tab-middle {
  padding: 0 6px 0 6px;
  margin-bottom: 2px;
}
  

.tab-bottom > .tab-middle > .tab-text {
  font: message-box;
  font-weight: bold !important;
  margin: 0 0 -1px 0 !important;
  padding: 0 !important;
}

    /* top tabs */
tabbox[orient="vertical"] tabs[orient="horizontal"] tab { 
  padding: 0px;
  margin: 0px;
}

	/* bottom tabs */
tabbox[orient="vertical"] tabpanels + tabs[orient="horizontal"] tab { 
  border-top: none;
  border-bottom: 1px solid #666666;
  border-left: 1px solid white;
  border-right: 1px solid #666666;
  -moz-border-radius: 0px 0px 8px 8px;
  padding: 1px 5px 3px 5px;
  margin: 1px 2px 1px 2px;
}

	/* left tabs */
tabbox[orient="horizontal"] tabs[orient="vertical"] tab { 
  border-right: none;
  -moz-border-radius: 8px 0px 0px 8px;
  padding-right: 1px;
  margin: 2px 1px 2px 1px;
}

	/* right tabs */
tabbox[orient="horizontal"] tabpanels + tabs[orient="vertical"]  tab { 
  border-top: 1px solid white;
  border-bottom: 1px solid #666666;
  border-left: none;
  border-right: 1px solid #666666;
  -moz-border-radius: 0px 8px 8px 0px;
  padding: 3px 5px 1px 5px;
  margin: 2px 1px 2px 1px;
}

tabbox { 
  border: none;
}

tabpanels {
  /* -moz-appearance: tabpanels; */ 
  border-top: 0px;
  border-bottom: 2px ridge #000000;
  border-left: 2px groove #000000;
  border-right: 2px ridge #000000;
  padding: 2px;
  background-color		: #EEEEEE;
  margin-bottom: 4px;
}

tabstrip-box {
	-moz-appearance: tabpanels;
        margin-top: -1px;
}

