// _division_colors.scss

$part-title-color: rgb(9, 62, 125);
$chapter-title-color: rgb(9, 62, 125);
$section-title-color: rgb(9, 62, 125);
$subsection-title-color: rgb(9, 62, 125);
$subsubsection-title-color: rgb(9, 62, 125);
$paragraph-title-color: rgb(9, 62, 125);
$subparagraph-title-color: rgb(9, 62, 125);
$attention-color: red;

$title-color: rgb(9, 62, 125);
$author-color: rgb(9, 62, 125);
$address-color: rgb(9, 62, 125);
$date-color: rgb(9, 62, 125);
$abstract-background-color: #E1EEFD;
$abstract-title-color: rgb(9, 62, 125);
$bodyMath-color: rgb(0,128,64);
