// division_colors.scss

$part-title-color: black;
$chapter-title-color: black;
$section-title-color: rgb(9, 62, 125);
$subsection-title-color: black;
$subsubsection-title-color: black;
$paragraph-title-color: black;
$subparagraph-title-color: black;
$attention-color: red;
