 /* amsbook.css */

/************************/
/* Division header tags */
/************************/

@import "division_colors";
@import "division_headers";
@import "theorem_like";

$div_name: 'Part';
$counter_data:  (
  counter_list: (
    (part),
  ),
  end: ''
);
$ctr_set_reset: (inc: part);

part {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include div_title_style {
    margin: 30pt 0 0 0;
    display: block;
    font-weight: bold;
    font-size:   220%;
    color: $part-title-color;
    text-align: center;
    @include counters($counter_data, 'Part ') {
      display: block;
      font-size:   80%;
      text-align: center;
    };
  }
}


$div_name: 'CHAPTER';
$counter_data:  (
  counter_list: (
    (chapter)
  ),
  end: ''
);
$ctr_set_reset: (inc: chapter, reset: section eqnnumber subeqnnum);

chapter {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  @include handle_open_closed((color:gray));
  @include default_title($div_name);
  @include div_title_style {
    display: block;
    margin: 10pt 0 0 0;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    color: $chapter-title-color;
    @include counters($counter_data, 'CHAPTER ') {
      display: block;
      font-size:   80%;
    };
  }
}


$div_name: 'Section';
$counter_data:  (
  counter_list: (
    (section),
  ),
  end: '.  '
);
$ctr_set_reset: (inc: section, reset: subsection);

section {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  @include handle_open_closed((color:gray));
  @include default_title($div_name);
  @include div_title_style {
    display: block;
    margin: 0 0 0 0;
    font-weight: bold;
    font-size: large;
    color: $section-title-color;
    @include counters($counter_data);
  }
}


$div_name: Subsection;
$counter_data:  (
  counter_list: (
    (section subsection)
  ),
  end: '.  '
);
$ctr_set_reset: (inc: subsection, reset: (subsubsection));

subsection {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  @include handle_open_closed((color: blue));
  @include default_title($div_name);
  @include div_title_style {
    display: block;
    margin: 10pt 10pt 0 0;
    font-weight: bold;
    font-size: medium;
    color: $subsection-title-color;
    @include counters($counter_data) {
      display: inline-block;
      width: 1.5cm;
    }
  }
}



$div_name: Subsubsection;
$counter_data:  (
  counter_list: (
    (section,subsection,subsubsection)
  ),
  end: '.  '
);
$ctr_set_reset: (inc: subsubsection, reset: (paragraph));
subsubsection {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  @include default_title($div_name);
  @include div_title_style {
    display: inline;
    margin: 10pt 10pt 0 0;
    font-weight: bold;
    font-size: medium;
    color: $subsubsection-title-color;
    @include counters($counter_data);
  }
}



$div_name: '';
$counter_data:  (
  counter_list: (
  ),
  end: ''
);
$ctr_set_reset: (inc: paragraph,reset: subparagraph);
paragraph {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  //@include default_title($div_name);
  @include div_title_style {
    display: inline;
    margin:0 0 0 0;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    color: $paragraph-title-color;
      @include counters($counter_data){
	  padding-right: 0pt;
    }
  }
}


$div_name: '';
$counter_data:  (
  counter_list: (
  ),
  end: ''
);
$ctr_set_reset: (inc: subparagraph);
subparagraph {
  display:block;
  //margin-left: 0pt;
  //text-align: left;
  @include cnt-set-resets($ctr-set-reset);
  @include div_title_style {
    display: inline-block;
    margin:0 0 0 0;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    color: $subparagraph-title-color;
    @include counters($counter_data) {
      display: inline-block;
	  padding-right: 12pt;
    };
  }
}


/*************************/
/* Front matter elements */
/*************************/

title {
  font-size: x-large;
  display: block;
  color: rgb(9, 62, 125);
  margin-top: 12pt;
  text-align: center;
}

title > short {
   display: inline;
   padding: 0 0 0 20pt;
   color: #E1EEFD;
}

body[showshort='true'] shortTitle {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] shortTitle:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] shortTitle:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

author {
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 10pt;
}

authorid {
  display: none;
}

body[showshort='true'] authorid {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] authorid:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] authorid:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

address {
  display: block;
  color: rgb(9, 62, 125);
}

curraddr {
  text-align: center;
  display: block;
  color: rgb(9, 62, 125);
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-curraddr");
  -moz-user-select: text;
}

email {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-email");
  -moz-user-select: text;
}

urladdr {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-urladdr");
  -moz-user-select: text;
}

thanks {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-thanks");
  -moz-user-select: text;
}

date {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
}

translator {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-translator");
  -moz-user-select: text;
}

subjclass {
  text-align: center;
  font-weight: normal;
  color: rgb(9, 62, 125);
  display: block;
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-subjclass");
  -moz-user-select: text;
}

subjclassyear {
  display: none;
}

body[showshort='true'] subjclassyear {
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] subjclassyear:before {
  content: '[';
  display: inline;
  color: rgb(128, 181, 247);
}

body[showshort='true'] subjclassyear:after {
  content: '] ';
  display: inline;
  color: rgb(128, 181, 247);
}

keywords {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-keywords");
  -moz-user-select: text;
}

dedicatory {
  text-align: center;
  font-weight: normal;
  display: block;
  color: rgb(9, 62, 125);
  padding-top: 2pt;
  -moz-binding: url("chrome://prince/content/bindings/amscls.xml#fmtag-dedicatory");
  -moz-user-select: text;
}

abstract {
  display: block;
  margin-top: 10pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-bottom: 10pt;
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
  font-size: small;
  border: thin solid black;
  background-color: #E1EEFD;
  -moz-border-radius: 5px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: 100%; font-weight: bold;
  color: rgb(9, 62, 125);
  -moz-user-select: -moz-none;
}

/**********************/
/* Main text elements */
/**********************/

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: rgb(0,128,64);
}

/****************/
/* Environments */
/****************/

shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

emphasized {
  font-style: italic;
  color: rgb(9,62,125)
}

emphasized .inlineMath {
  color: rgb(255,0,255)
}

roman {
  font-family: Times New Roman;
  color: rgb(0,0,255)
}

calligraphic{
  font-family: monotype corsiva;
  color: rgb(0,0,255)
}

bold {
  font-weight: 700
}

italics {
  font-style: italic
}

slanted {
  font-style: italic;
  font-weight: 700;
  color: rgb(9,62,125)
}

sansSerif {
  font-family: Arial;
  font-weight: 400;
  color: rgb(9,62,125)
}

smallCaps {
  font-variant: small-caps;
  color: rgb(0,0,0)
}

typewriter {
  font-family: Courier New;
  font-weight: 700
}

tiny {
  font-size: 50%
}

scriptsize {
  font-size: 67%
}

footnotesize {
  font-size: 75%
}

small {
  font-size: 83%
}

normalsize {
  font-size: 100%
}

large {
  font-size: 117%
}

Large {
  font-size: 133%
}

LARGE {
  font-size: 150%
}

huge {
  font-size: 167%
}

Huge {
  font-size: 183%
}

/*****************************/
/* Theorem-like environments */
/*****************************/

// Each theorem-like object is numbered independently.

@import "_theorem_like";

$env-list: Acknowledgement Acknowledgment Algorithm Assertion Assumption Axiom Case Claim Conclusion Condition
  Conjecture Convention Corollary Criterion Definition Example Exercise Hypothesis Lemma Notation "Note[texnote]"
  Observation Problem Property Proposition Question Remark Solution Summary Theorem;

@each $name in $env-list {
  $lc_name: null; // Make variable available within this scope
  @if str-index($name, "[") == null {
    $lc_name: to_lower-case($name);
  }
  @else {
      $start: str-index($name, "[") + 1; 
      $end: 	str-index($name, "]") - 1;
      $lc_name: unquote(str-slice($name, $start, $end));
      $end: 	str-index($name, "[") - 1;
	  $name: 	str-slice($name, 1, $end);
  }
//  body {
//  counter-reset: $lc_name;
//}
  #{$lc_name} {
    counter-increment: $lc_name;
    @include theorem_like($name, $lc_name);
  }
}




