/* proc.scss 

Mostly the same as article.scss

*/

/************************/
/* Division header tags */
/************************/

@import "division_colors";

// Use black for the division headings (some SNB users might prefer this). 

$part-title-color: black;
$chapter-title-color: black;
$section-title-color: black;
$subsection-title-color: black;
$subsubsection-title-color: black;
$paragraph-title-color: black;
$subparagraph-title-color: black;

$title-color: black;
$author-color: black;
$address-color: black;
$date-color: black;
$abstract-background-color: rgb(234,234,234);
$abstract-title-color: black;

@import "_division_headers.scss";
@import "_theorem_like.scss";



$div_name: 'Part';
$counter_data:  (
  counter_list: (
    (part,upper-roman),
  ),
  end: ''
);
$ctr_set_reset: (inc: part);

part {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include div_title_style {
    margin: 30pt 0 0 0;
    display: block;
    font-weight: bold;
    font-size:   200%;
    color: $part-title-color;
    text-align: left;
    @include counters($counter_data, 'Part ') {
      display: block;
      font-size:   80%;
      text-align: left;
    };
  }
}

/*Skip chapter for article styles*/


$div_name: 'Section';
$counter_data:  (
  counter_list: (
    (section),
  ),
  end: ' '
);
$ctr_set_reset: (inc: section, reset: subsection);

section {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  @include handle_open_closed((color:gray));
  @include default_title($div_name);
  @include div_title_style {
    display: inline;
    font-weight: bold;
    font-size: 175%;
    color: $section-title-color;
    @include counters($counter_data) {
      display: inline-block;
	  padding-right: 10pt;
      //width: 1.5cm;
    };
  }
}


$div_name: Subsection;
$counter_data:  (
  counter_list: (
    (section subsection)
  ),
  end: ' '
);
$ctr_set_reset: (inc: subsection, reset: (subsubsection));

subsection {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  @include handle_open_closed((color: blue));
  @include default_title($div_name);
  @include div_title_style {
    display: inline;
    margin:0 0 0 0;
    font-weight: bold;
    font-size: 150%;
    color: $subsection-title-color;
    @include counters($counter_data) {
      display: inline-block;
	  padding-right: 10pt;
      //width: 1.5cm;
    }
  }
}

$div_name: Subsubsection;
$counter_data:  (
  counter_list: (
    (section,subsection,subsubsection)
  ),
  end: ' '
);
$ctr_set_reset: (inc: subsubsection, reset: (paragraph));
subsubsection {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  @include default_title($div_name);
  @include div_title_style {
    display: inline;
    margin:0 0 0 0;
    font-weight: bold;
    font-size: 120%;
    color: $subsubsection-title-color;
    @include counters($counter_data) {
      display: inline-block;
	  padding-right: 10pt;
      //width: 1.5cm;
    };
  }
}

$div_name: '';
$counter_data:  (
  counter_list: (
  ),
  end: ' '
);
$ctr_set_reset: (inc: paragraph,reset: subparagraph);
paragraph {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include handle_nonum;
  @include div_title_style {
    display: inline;
    margin:0 0 0 0;
    font-weight: bold;
    font-size: 100%;
    color: $paragraph-title-color;
    @include counters($counter_data) {
	  padding-right: 3pt;
      //width: 1.5cm;
    }
  }
}

$div_name: '';
$counter_data:  (
  counter_list: (
  ),
  end: ''
);
$ctr_set_reset: (inc: subparagraph);
subparagraph {
  display: block;
  @include cnt-set-resets($ctr-set-reset);
  @include div_title_style {
    display: inline-block;
    margin:0 0 0 0;
    font-weight: bold;
    font-size: 100%;
    color: $subparagraph-title-color;
    @include counters($counter_data) {
      display: inline-block;
	  padding-right: 12pt;
      //width: 1.5cm;
    };
  }
}




/*************************/
/* Front matter elements */
/*************************/

title {
  font-size: 200%;
  font-weight: normal;
  color: $title-color;
  line-height: 20pt;
  display: block;
  margin-top: 12pt;
  text-align: center;
}

author {
  font-size: 100%;
  font-weight: normal;
  color: $author-color;
  display: block;
  padding-top: 10pt;
  text-align: center;
}

address {
  font-size: 100%;
  font-weight: normal;
  color: $address-color;
  display: block;
  text-align: center;
}

date {
  font-size: 100%;
  font-weight: normal;
  color: $date-color;
  display: block;
  padding-top: 2pt;
  text-align: center;
}

abstract {
  display: block;
  margin-top: 30pt;
  margin-left: 0pt;
  margin-right: 0pt;
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
  font-size: small;
  border: thin solid black;
  background-color: $abstract-background-color;
  -moz-border-radius: 5px;
}

abstract:before {
  content: "Abstract";
  display: block;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  color: $abstract-title-color;
  -moz-user-select: -moz-none;
}

/**********************/
/* Main text elements */
/**********************/

p {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
}

math {
  direction: ltr;
}

bodyText {
  display: block;
  margin: 10pt 0 5pt 0;
}

rtlBodyText {
  display: block;
  direction: rtl;
  unicode-bidi: bidi-override;
  margin: 10pt 10pt 5pt 5pt;
}

bodyMath {
  display: block;
  margin: 0 10pt 0 5pt;
  color: $bodyMath-color;
}

/****************/
/* Environments */
/****************/

shortQuote {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}
longQuotation {
  display: block;
  margin-left: 20pt;
  margin-right: 20pt;
}

*[showinvis=true] longQuotation:after {
  content: "\B6";
  display: inline;
  font-family: Courier New;
  color: green;
  font-weight: bold;
  -moz-user-select: -moz-none;
}

/* Non-standard element (gp)
epigraph {
  display: block;
  color: white;
  background-color: black;
  margin-left: 20pt;
  margin-right: 20pt;
}
*/

centeredEnv, centered {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: center;
}

flushright {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: right;
}

flushleft {
  display: block;
  margin: 10pt 10pt 5pt 5pt;
  text-align: left;
}

pre, verbatim {
  font-family: Courier;
  white-space: pre;
}


/*****************************/
/* Theorem-like environments */
/*****************************/
// A theorem-like environment is tied to a counter, and may or may not increment that counter.
// In article.css, the theorem environment is the only one that increments a counter (the theorem counter),
// and all the other environments use the theorem counter, but do not increment it. (Yes, theorem counter is incremented--see latex.css (gp)

// In article.css there  is only one theorem-like environment with its own counter and increment.

$env-with-inc-list: Theorem;

// All the others use the theorem counter and don't increment

$env-list: Acknowledgement Acknowledgment Algorithm Assertion Assumption Axiom Case Claim Conclusion Condition
  Conjecture Convention Corollary Criterion Definition Example Exercise Hypothesis Lemma Notation "Note[texnote]"
  Observation Problem Property Proposition Question Remark Solution Summary;

$counter_data: (counter_list: ((theorem)));

@each $name in $env-with-inc-list {
  $default_div_num_end: " ";
  $lc_name: to_lower-case($name);
  #{$lc_name} {
    @include theorem_like($name, $counter-data);
  }
}

@each $name in $env-list {
  $lc_name: null; // Make variable available within this scope
  @if str-index($name, "[") == null {
    $lc_name: to_lower-case($name);
  }
  @else {
      $start: str-index($name, "[") + 1; 
      $end: 	str-index($name, "]") - 1;
      $lc_name: str-slice($name, $start, $end);
      $end: 	str-index($name, "[") - 1;
	  $name: 	str-slice($name, 1, $end);
  }
  #{$lc_name} {
    @include theorem_like($name, $counter-data);
  }
}



/***************/
/* Lists, etc. */
/***************/

enumerate {
  counter-reset: item-number;
}

enumerate > item {
  display: block ;
  margin: 0 0 0 0;
  padding: 10pt 0 0 20pt;
}

enumerate>item:before {
  content: counter(item-number) ". ";
  counter-increment: item-number;
  -moz-user-modify: read-only;
  -moz-user-select: -moz-none;
}

description {
  counter-reset: item;
}

itemize {
  list-style: disc;
  counter-reset: item;
}

/***************/
/* Other stuff */
/***************/

img {
  display: inline;
}

button[class=subeqnnum]{
  right: 20px;
  font-style: normal;
  color: blue;
}

/*  Following moved to latex.css
button[class="eqnnum"]:after{
  content: "  " counter(section) "." counter(eqnnumber);
}

button[class="subeqnnum"]:after{
  content: "  " counter(section) "." counter(eqnnumber) "." counter(subeqnnum,lower-latin);
}
*/

[hideindexentries=true] indexitem {
  display: none;
}

[hidemarkers] a[key] {
  display: none;
}

/* Changes for direct print */
@media print {
  abstract {
    border-style: none;
  }
}
